{% extends 'base_accueil.html.twig' %}

{% block header_image %}
<div class="hero-wrap hero-bread" style="background-image: url('{{ asset('images/bg_1.jpg') }}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Accueil</a></span> <span>Panier</span></p>
                <h1 class="mb-0 bread">Mon Panier</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<style>
.modal-header {
    display: flex;              /* Utiliser Flexbox */
    justify-content: center;    /* Centrer les éléments horizontalement */
    align-items: center;        /* Aligner les éléments verticalement */
    background-color: #81c784;  /* Couleur de fond */
    color: white;               /* Couleur de texte */
    padding: 10px 15px;         /* Espacement interne */
}

.modal-title {
    flex-grow: 1;               /* Permet au titre de prendre l'espace disponible */
    text-align: center;         /* Texte centré */
    font-weight: bold;          /* Texte en gras */
    font-size: 20px;            /* Taille de la police */
}

.close {
    position: absolute;         /* Positionnement absolu */
    right: 15px;                /* À droite de la modale */
    top: 15px;                  /* Haut de la modale */
    color: white;               /* Couleur de l'icône */
    opacity: 1;                 /* Opacité pleine */
}

.close:hover, .close:focus {
    color: #f1f1f1;             /* Couleur au survol */
    text-decoration: none;      /* Pas de soulignement */
    opacity: 0.8;               /* Diminution de l'opacité au survol */
}



</style>
<div class="container mt-5">
    {% if lignesCommande|length > 0 %}
        <div class="cart-list">
            <table class="table">
                <thead class="thead-primary">
                    <tr class="text-center">
                        <th>&nbsp;</th>
                        <th>Produit</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ligneCommande in lignesCommande %}
                    <tr class="text-center">
                        <td class="product-remove"><a href="#" onclick="confirmSuppression('{{ path('supprimer_ligne_panier', {'idLigneCommande': ligneCommande.id_lc}) }}')"><span class="ion-ios-close"></span></a></td>
                        <td class="image-prod"><div class="img" style="background-image:url('{{ asset(ligneCommande.produit.image) }}');"></div></td>
                        <td class="product-name">{{ ligneCommande.produit.marque }}</td>
                        <td class="price">{{ ligneCommande.produit.prix }} TND</td>
                        <td class="quantity">
                            <div class="input-group mb-3">
                                <button class="btn btn-primary btn-sm" onclick="decrementerQuantite({{ ligneCommande.id_lc }}, {{ ligneCommande.quantite }})">-</button>
                                <input type="text" name="quantity" class="quantity form-control input-number" value="{{ ligneCommande.quantite }}" min="1" max="100">
                                <button class="btn btn-primary btn-sm" onclick="location.href='{{ path('augmenter_quantite', {'idLigneCommande': ligneCommande.id_lc}) }}'">+</button>
                            </div>
                        </td>
                        <td class="total">{{ ligneCommande.quantite * ligneCommande.produit.prix }} TND</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      
  <div class="d-flex justify-content-between mb-5">
    <!-- Bouton pour afficher le graphique des ventes à gauche -->
    <button class="btn btn-primary py-3 px-4" id="show-sales-chart">Voir Produits Recommandés</button>
    <!-- Bouton pour vider le panier à droite -->
    <a href="#" id="vider-panier-btn" class="btn btn-primary py-3 px-4" onclick="confirmViderPanier('{{ path('vider_panier') }}')">Vider le Panier</a>
</div>
        <div class="row justify-content-center">
            <div class="col-lg-10 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3 text-center">
                    <h3>Totale De Panier</h3>
                    <p class="d-flex justify-content-between">
                        <span>SousTotal</span>
                        <span>{{ prixTotalAvantRemise }} TND</span>
                    </p>
                    <p class="d-flex justify-content-between">
                        <span>Remise</span>
                        <span>{{ remise }} TND ({{ (remise / prixTotalAvantRemise) * 100 | number_format(2, '.', '') }}%)</span>
                    </p>
                    <p class="d-flex justify-content-between">
                        <span>Totale</span>
                        <span>{{ prixTotalApresRemise }} TND</span>
                    </p>
                    <p><a href="{{ path('route', {'id': lignesCommande[0].commande.id}) }}" class="btn btn-primary py-3 px-4">Valider Commande</a></p>
                </div>
            </div>
        </div>
    {% else %}
        <p class="text-center">Votre panier est vide.</p>
    {% endif %}
</div>
<div class="modal fade" id="salesChartModal" tabindex="-1" role="dialog" aria-labelledby="salesChartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="navbar-brand" id="salesChartModalLabel">Produits Recommandés</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: auto;"> <!-- Ajout de contrôle de défilement -->
                <img src="http://127.0.0.1:5000/get_sales_chart" alt="Sales Chart" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('show-sales-chart').addEventListener('click', function() {
        $('#salesChartModal').modal('show');
    });
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
 function confirmViderPanier(url) {
    Swal.fire({
        title: 'Êtes-vous sûr?',
        text: "Vous êtes sur le point de vider le panier!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#dc3545',
        cancelButtonColor: '#28a745',
        confirmButtonText: 'Oui, vider le panier!',
        cancelButtonText: 'Annuler' // Remplacer "Cancel" par "Annuler"
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = url;
        }
    });
}


 function confirmSuppression(url) {
    Swal.fire({
        title: 'Êtes-vous sûr?',
        text: "Vous êtes sur le point de supprimer cet article du panier!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#dc3545',
        cancelButtonColor: '#28a745',
        confirmButtonText: 'Oui, supprimer!',
        cancelButtonText: 'Annuler' // Remplacer "Cancel" par "Annuler"
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = url;
        }
    });
}


  function decrementerQuantite(idLigneCommande, quantiteActuelle) {
    if (quantiteActuelle > 1) {
        location.href = '{{ path('diminuer_quantite', {'idLigneCommande': 'idLigneCommande'}) }}'.replace('idLigneCommande', idLigneCommande);
    } else if (quantiteActuelle == 1) {
        Swal.fire({
            title: 'Attention!',
            text: 'La quantité ne peut pas être inférieure à 1. Le produit sera supprimé du panier.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#28a745',
            confirmButtonText: 'OK, supprimer',
            cancelButtonText: 'Annuler'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '{{ path('diminuer_quantite', {'idLigneCommande': 'idLigneCommande'}) }}'.replace('idLigneCommande', idLigneCommande);
            }
        });
    } else {
        Swal.fire({
            title: 'Erreur!',
            text: 'Impossible de diminuer la quantité en dessous de zéro!',
            icon: 'error',
            confirmButtonColor: '#dc3545',
            confirmButtonText: 'OK'
        });
    }
}

</script>

{% endblock %}
