{% extends 'base_accueil.html.twig' %}

{% block header_image %}
<div class="hero-wrap hero-bread" style="background-image: url('{{ asset('images/bg_1.jpg') }}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Accueil</a></span> <span>Panier</span></p>
                <h1 class="mb-0 bread">Mon Panier</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container mt-5">
    {% if lignesCommande|length > 0 %}
        <div class="cart-list">
            <table class="table">
                <thead class="thead-primary">
                    <tr class="text-center">
                        <th>&nbsp;</th>
                        <th>Produit</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ligneCommande in lignesCommande %}
                    <tr class="text-center">
                        <td class="product-remove"><a href="#" onclick="confirmSuppression('{{ path('supprimer_ligne_panier', {'idLigneCommande': ligneCommande.id_lc}) }}')"><span class="ion-ios-close"></span></a></td>
                        <td class="image-prod"><div class="img" style="background-image:url('{{ asset(ligneCommande.produit.image) }}');"></div></td>
                        <td class="product-name">{{ ligneCommande.produit.marque }}</td>
                        <td class="price">{{ ligneCommande.produit.prix }} TND</td>
                        <td class="quantity">
                            <div class="input-group mb-3">
                                <button class="btn btn-primary btn-sm" onclick="decrementerQuantite({{ ligneCommande.id_lc }}, {{ ligneCommande.quantite }})">-</button>
                                <input type="text" name="quantity" class="quantity form-control input-number" value="{{ ligneCommande.quantite }}" min="1" max="100">
                                <button class="btn btn-primary btn-sm" onclick="location.href='{{ path('augmenter_quantite', {'idLigneCommande': ligneCommande.id_lc}) }}'">+</button>
                            </div>
                        </td>
                        <td class="total">{{ ligneCommande.quantite * ligneCommande.produit.prix }} TND</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-right mb-5">
            <button id="vider-panier-btn" class="btn btn-warning py-3 px-4" onclick="confirmViderPanier('{{ path('vider_panier') }}')">Vider le Panier</button>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3 text-center">
                    <h3>Totale De Panier</h3>
                    <p class="d-flex justify-content-between">
                        <span>SousTotal</span>
                        <span>{{ prixTotalAvantRemise }} TND</span>
                    </p>
                    <p class="d-flex justify-content-between">
                        <span>Remise</span>
                        <span>{{ remise }} TND ({{ (remise / prixTotalAvantRemise) * 100 | number_format(2, '.', '') }}%)</span>
                    </p>
                    <p class="d-flex justify-content-between">
                        <span>Totale</span>
                        <span>{{ prixTotalApresRemise }} TND</span>
                    </p>
                    <p><a href="{{ path('route', {'id': lignesCommande[0].commande.id}) }}" class="btn btn-primary py-3 px-4">Valider Commande</a></p>
                </div>
            </div>
        </div>
    {% else %}
        <p class="text-center">Votre panier est vide.</p>
    {% endif %}
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmViderPanier(url) {
        Swal.fire({
            title: 'Êtes-vous sûr?',
            text: "Vous êtes sur le point de vider le panier!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#28a745',
            confirmButtonText: 'Oui, vider le panier!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }

    function confirmSuppression(url) {
        Swal.fire({
            title: 'Êtes-vous sûr?',
            text: "Vous êtes sur le point de supprimer cet article du panier!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#28a745',
            confirmButtonText: 'Oui, supprimer!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }

  function decrementerQuantite(idLigneCommande, quantiteActuelle) {
    if (quantiteActuelle > 1) {
        location.href = '{{ path('diminuer_quantite', {'idLigneCommande': 'idLigneCommande'}) }}'.replace('idLigneCommande', idLigneCommande);
    } else if (quantiteActuelle == 1) {
        Swal.fire({
            title: 'Attention!',
            text: 'La quantité ne peut pas être inférieure à 1. Le produit sera supprimé du panier.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#28a745',
            confirmButtonText: 'OK, supprimer',
            cancelButtonText: 'Annuler'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '{{ path('diminuer_quantite', {'idLigneCommande': 'idLigneCommande'}) }}'.replace('idLigneCommande', idLigneCommande);
            }
        });
    } else {
        Swal.fire({
            title: 'Erreur!',
            text: 'Impossible de diminuer la quantité en dessous de zéro!',
            icon: 'error',
            confirmButtonColor: '#dc3545',
            confirmButtonText: 'OK'
        });
    }
}

</script>

{% endblock %}
