{% extends 'base_accueil.html.twig' %}

{% block header_image %}
<div class="hero-wrap hero-bread" style="background-image: url('{{ asset('images/bg_1.jpg') }}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Accueil</a></span> <span>Finaliser ma commande</span></p>
                <h1 class="mb-0 bread">Finaliser ma commande</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<style>
    .form-control {
        font-weight: bold !important;
        background-color: #e8f5e9 !important;
        animation: borderAnimation 3s infinite !important;
        border: 1px solid #66BB6A !important;
    }

    .form-control:focus {
        background-color: #e8f5e9 !important;
        border-color: #66BB6A !important;
    }

    .form-group label {
        font-weight: bold !important;
    }

    @keyframes borderAnimation {
        0%, 100% { border-color: #66BB6A !important; }
        50% { border-color: #238823 !important; }
    }
    .mapContainer {
        text-align: center;
        width: 1000%; /* Vous pouvez ajuster la largeur comme vous le souhaitez */
        height: 1000px; /* Ajustez la hauteur pour agrandir la carte */
        margin-top: 20px;
        display: none; /* Cache le conteneur de la carte initialement */
    }
    .map {
        height: 100%;
        width: 100%;
    }
    @keyframes rotateBorder {
    0% { border-color: green; }
    50% { border-color: transparent; }
    100% { border-color: green; }
}

.animated-border {
    border: 2px solid green;
    animation: rotateBorder 2s linear infinite;
}

   .content-frame {
        border: 2px solid #66BB6A !important;
        padding: 20px !important;
        margin-bottom: 20px !important;
        border-radius: 10px !important;
        background-color: #f9f9f9 !important;
    }

    
</style>
<section class="ftco-section" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 ftco-animate fadeInUp ftco-animated">
                 
                <form action="{{ path('payment', {'id': commande.id}) }}" method="post" class="billing-form">
                    <h3 class="mb-4  text-center">Détails de la commande</h3>
                    
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">Nom Client</label>
                                <input type="text" class="form-control" value="{{ commande.utilisateur.nom }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Prénom Client</label>
                                <input type="text" class="form-control" value="{{ commande.utilisateur.prenom }}" readonly>
                            </div>
                        </div>
                         <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Email Client</label>
                                <input type="text" class="form-control" value="{{ commande.utilisateur.email }}" readonly>
                            </div>
                        </div>
                            <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Numéro Client</label>
                                <input type="text" class="form-control" value="{{ commande.utilisateur.NumTel }}" readonly>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Etat de la commande</label>
                                <input type="text" class="form-control" value="{{ commande.etat }}" readonly>
                            </div>
                        </div>
                          <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                <label>Adresse de Livraison</label>
                                
                                <input type="text" class="form-control" name="address" value="{{ commande.address }}" readonly>

                            
                             <div class="w-100"></div>
                             
                            <div class="text-center mt-3">
                                <button type="button" id="openMapButton" class="btn btn-outline-success">Ouvrir la carte</button>
                            </div>
                            </div>
                              <div id="mapContainer" style="display:none;">
                            {% include 'panier/maps.html.twig' %}
                        </div>
                        </div>
                      
                    </div>
                </form>
            </div>
            <div class="col-xl-5">
                <div class="row mt-5 pt-3">
                    <div class="col-md-12 d-flex mb-5">
                        <div class="cart-detail cart-total p-3 p-md-4 animated-border">
                            <h3 class="billing-heading mb-4 text-center">Total de la commande</h3>
                            <p class="d-flex">
                                <span>Total Commande</span>
                                <span>{{ commande.totaleCommande }} TND</span>
                            </p>
                            <p class="d-flex">
                                <span>Remise</span>
                                <span>{{ commande.remise }} TND</span>
                            </p>
                            <p class="d-flex">
                            {% set pourcentageRemise = ((commande.totaleCommande - prixTotalAvecRemise) / commande.totaleCommande) * 100 %}
                                <span>Pourcentage Remise</span>
                                <span>{{ pourcentageRemise }} %</span>
                            </p>
                            <p class="d-flex">
                                <span>Prix Total avec Remise</span>
                                <span>{{ prixTotalAvecRemise }} TND</span>
                            </p>
                            <p class="d-flex">
                                <span>Total en Devise (EUR)</span>
                                <span>{{ totalEnDevise }} €</span>
                            </p>
                        </div>
                    </div>
                </div>
              
                  <form action="{{ path('payment', {'id': commande.id}) }}" method="post">
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="etatCommande" name="etatCommande" value="nonLivree" />
                            <label class="form-check-label" for="etatCommande">Payer à la Livraison</label>
                        </div>
                          <a href="{{ path('cANU', {'id': commande.id}) }}" class="btn btn-primary" id="annulerCommande">Anuuler la commande</a>
                        <button type="submit" class="btn btn-primary"id="validerCommande">Valider la Commande</button>

                    </form>
        </div>
    </div>
</section>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
document.getElementById("openMapButton").addEventListener("click", function() {
    var mapContainer = document.getElementById("mapContainer");
    mapContainer.style.display = mapContainer.style.display === "none" ? "block" : "none";

    // Initialisez la carte après que le conteneur est devenu visible
    if (mapContainer.style.display === "block") {
        initMap();
    }
});

document.getElementById("validerCommande").addEventListener("click", function(event) {
    var addressInput = document.querySelector('.billing-form input[name="address"]');
    var paymentCheckbox = document.getElementById("etatCommande");
    
    if (!addressInput.value.trim()) {
        event.preventDefault(); // Empêche l'envoi du formulaire
        
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Veuillez choisir l\'adresse de livraison avant de valider la commande.',
        });
    }
});

document.getElementById("validerCommande").addEventListener("click", function(event) {
    // Empêche l'envoi du formulaire si l'adresse et la méthode de paiement ne sont pas sélectionnées
    var addressInput = document.querySelector('.billing-form input[name="address"]');
    var paymentCheckbox = document.getElementById("etatCommande");
    
    if (!addressInput.value.trim() || !paymentCheckbox.checked) {
        // Empêche l'envoi du formulaire
        return; // Sortie de la fonction pour éviter d'afficher l'alerte de succès
    }
    
    // Afficher l'alerte de succès après avoir soumis le formulaire
    Swal.fire({
        icon: 'success',
        title: 'Commande validée avec succès!',
        text: 'Un email de confirmation a été envoyé à votre adresse.',
        showConfirmButton: false,
        timer: 4000 // Ferme automatiquement après 3 secondes
    });
});





document.getElementById("annulerCommande").addEventListener("click", function(event) {
    event.preventDefault(); // Empêche le comportement par défaut du lien
    Swal.fire({
        title: 'Êtes-vous sûr?',
        text: "Vous êtes sur le point d'annuler la commande.",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Oui, annuler la commande',
        cancelButtonText: 'Annuler'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = this.href; // Redirige vers l'URL du lien
        }
    });
});

</script>




<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAZxrDjNK7_HqMz-reXjQXfG6-fAmOf1s&callback=initMap"></script>
{% endblock %}
