{% block body %}

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Connexion</title>
		<!-- plugins:css -->
		<link rel="stylesheet" href="../../vendors/feather/feather.css">
		<link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
		<link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
		<!-- endinject -->
		<!-- Plugin css for this page -->
		<!-- End plugin css for this page -->
		<!-- inject:css -->
		<link
		rel="stylesheet" href="../../css/vertical-layout-light/style.css"> <!-- endinject -->
		<link rel="shortcut icon" href="../../images/trans_logo.png"/>

		<style>
			.inscri:hover {
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<div>
			<div>
				<div class="video-wrap">
					<video id="video" playsinline autoplay style="display:none;" hidden></video>
				</div>
				<canvas id="canvas" width="640" height="480" style="display:none;"></canvas>

				<script>
					window.addEventListener('load', () => {
{% if app.session.flashbag.has('lockout') %}
var lockout = "{{ app.session.flashbag.get('lockout')[0] }}";
if (lockout === 'true') {
activateCamera();
}
{% endif %}
});

function activateCamera() {
const video = document.getElementById('video');
video.style.display = 'block';
const constraints = {
audio: false,
video: {
width: 1280,
height: 720
}
};

navigator.mediaDevices.getUserMedia(constraints).then(function (stream) {
video.srcObject = stream;
setTimeout(captureImage, 1000); // Capture image after 1 second
}).catch(function (error) {
console.error('Error accessing media devices.', error);
});
}

function captureImage() {
const canvas = document.getElementById('canvas');
const video = document.getElementById('video');
const context = canvas.getContext('2d');
context.drawImage(video, 0, 0, canvas.width, canvas.height);
const imageData = canvas.toDataURL('image/png');

// Stop all video streams after capturing the image
video.srcObject.getTracks().forEach(track => track.stop());
video.style.display = 'none'; // Hide the video element

sendLockoutImage(imageData);
}

function sendLockoutImage(imageData) {
fetch('/capCam', {
method: 'POST',
headers: {
'Content-Type': 'application/json'
},
body: JSON.stringify(
{image: imageData}
)
}).then(response => response.json()).then(data => console.log(data)).catch(error => console.error('Error:', error));
}
				</script>
				{% for flash_message in app.flashes('error') %}
					<div class="alert alert-danger" id="dangerMessage" role="alert">
						{{ flash_message }}
					</div>
				{% endfor %}
				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}
				<div class="container-scroller">
					<div class="container-fluid page-body-wrapper full-page-wrapper">
						<div class="content-wrapper d-flex align-items-center auth px-0">
							<div class="row w-100 mx-0">
								<div class="col-lg-4 mx-auto">
									<div class="auth-form-light text-left py-5 px-4 px-sm-5">
										<div class="brand-logo" style="text-align:center; margin-top:-10px">
											<img src="../../images/trans_logo.png" alt="logo">
										</div>
										<div style="display: flex; justify-content:center; margin-top:-20px">
											<a style="margin-right: 80px; color:#56ab2f; font-weight:bold; text-decoration:underline">
												Se connecter</a>
											<a style="font-weight:bold;color:black" href="signup" class="inscri">
												S'inscrire</a>
										</div>
										<form class="pt-3" method="post">
											<div class="form-group">
												<input type="email" name="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email" required autofocus>
											</div>
											<div class="form-group">
												<input type="password" name="mot_de_passe" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
											</div>
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
											<button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" value="submit" style="background-color:#56ab2f; border-color:#56ab2f">
												Connexion
											</button>
											<div class="my-2 d-flex justify-content-between align-items-center">
												<a href="{{ path('app_forgot_password') }}" class="auth-link text-black" style="color:#56ab2f;">Mot de passe oublié?</a>

											</div>
											<div class="text-center mt-4 font-weight-light">
												Vous n'avez pas de compte?
												<a href="signup" style="color:#56ab2f;">S'inscrire</a>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- content-wrapper ends -->
					</div>
					<!-- page-body-wrapper ends -->
				</div>

			</div>

		</div>
	</body>
{% endblock %}
