{% block body %}

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Connexion</title>
		<!-- plugins:css -->
		<link rel="stylesheet" href="../../vendors/feather/feather.css">
		<link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
		<link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
		<!-- endinject -->
		<!-- Plugin css for this page -->
		<!-- End plugin css for this page -->
		<!-- inject:css -->
		<link
		rel="stylesheet" href="../../css/vertical-layout-light/styleLogin.css"> <!-- endinject -->
		<link rel="shortcut icon" href="../../images/trans_logo.png"/>
	</head>
	<body>
		<div>
			<div>
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}
				<div class="body">
					<div class="box">
						<div class="form">
							<form method="post">

								<div class="inputBox">
									<input type="email" name="email" class="form-control form-control-lg" value="{{last_username}}" id="exampleInputEmail1"  required autofocus>
									<span>Email</span>
									<i></i>
								</div>
								<div class="inputBox">
									<input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1"  required>
									<span>Mot de passe</span>
									<i></i>
								</div>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<div class="links">
									<div class="form-check">
										<label class="form-check-label text-muted">
											<input type="checkbox" class="form-check-input">
											Rester connecté
										</label>
									</div>
									<a href="#" class="auth-link text-black">Mot de passe oublié?</a>
								</div>
								<div class="links">
									<a href="signup" class="text-primary">S'inscrire</a>
								</div>
                                <button class="loginbutton" type="submit" value="submit">
									Connexion
								</button>   
							</form>
						</div>
					</div>

				</div>

			</div>

		</div>
	</body>
{% endblock %}
