<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- plugins:css -->
		<!--	<link rel="stylesheet" href="../../vendors/feather/feather.css">
																		<link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
																		<link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">-->
		<link rel="stylesheet" href="{{asset('css/vertical-layout-light/style.css')}}"> <!-- endinject -->
		<!-- Plugin css for this page -->
		<!-- End plugin css for this page -->
		<!-- inject:css -->
		<link
		rel="stylesheet" href="../../css/vertical-layout-light/style.css"> <!-- endinject -->
		<link
		rel="shortcut icon" href="../../images/trans_logo.png"/>

		<!-- Inclure Bootstrap -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

		<style>
			.inscri:hover {
				text-decoration: none;
			}
		</style>

	</head>

	<body>

		<div class="container-scroller">
			<div class="container-fluid page-body-wrapper full-page-wrapper">
				<div class="content-wrapper d-flex align-items-center auth px-0">
					<div class="row w-100 mx-0">
						<div class="col-lg-4 mx-auto">

							<div class="auth-form-light text-left py-5 px-4 px-sm-5">
								{% for flash_message in app.flashes('dangerReset') %}
									<div class="alert alert-danger" id="dangerMessageModif" role="alert">
										{{ flash_message }}
									</div>
								{% endfor %}
								<div class="brand-logo" style="text-align:center; margin-top:-10px">
									<img src="../../images/trans_logo.png" alt="logo">
								</div>
								<div style="display: flex; justify-content:center; margin-top:-20px">
									Réinitialisation du mot de passe
								</div>
								<div class="pt-3">
									{{ form_start(form) }}
									<div class="form-group">
										<label for="exampleInputUsername1">{{ form_label(form.password) }}</label>
										{{ form_widget(form.password, {'attr': {'class': 'form-control', 'id': 'exampleInputUsername1', 'placeholder': 'Mot de passe'}}) }}
										{{ form_errors(form.password) }}
									</div>
									<div class="form-group">
										<label for="exampleInputUsername1">{{ form_label(form.confirm_password) }}</label>
										{{ form_widget(form.confirm_password, {'attr': {'class': 'form-control', 'id': 'exampleInputUsername1', 'placeholder': 'Confirmation de mot de passe'}}) }}
										{{ form_errors(form.confirm_password) }}
									</div>
									{{ form_end(form) }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content-wrapper ends -->
			</div>
			<!-- page-body-wrapper ends -->
		</div>
		<!-- container-scroller -->
		<!-- plugins:js -->
		<script src="../../vendors/js/vendor.bundle.base.js"></script>
		<!-- endinject -->
		<!-- Plugin js for this page -->
		<!-- End plugin js for this page --><script src="../../js/off-canvas.js"> </script>
		<script src="../../js/hoverable-collapse.js"></script>
		<script src="../../js/template.js"></script>
		<script src="../../js/settings.js"></script>
		<script src="../../js/todolist.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<script>
			$(document).ready(function () {
$(".auth-form-btn").click(function () {
$("#register1").hide();
$("#registerIMC").show();
});
});
		</script>


	</body>

</html>
