{% extends 'base_back.html.twig' %}

{% block title %}Hello ProductDashController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="col-lg-20 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Table des produits</h2>
            <div class="row mb-4">
                <div class="col text-right mb-4">
                    <a href="{{ path('add_product') }}" class="btn btn-primary hover-effect" style="background-color: #56ab2f; border-color: #56ab2f;" 
                       onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                       onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                        <i class="ti-plus"></i>
                        Ajouter produit
                    </a>
                </div>
            </div>
            
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Marque</th>
                    <th>Categorie</th>
                    <th>Critere</th>
                    <th>Prix</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in prod %}
                        <tr>
                            <td><img src="{{ asset('images/' ~ product.image) }}" alt="Image"></td>
                            <td>{{ product.marque }}</td>
                            <td>{{ product.categorie }}</td>
                            <td>{{ product.critere }}</td>
                            <td>{{ product.prix }}</td>
                            <!-- Ajoutez d'autres cellules pour d'autres attributs -->
                            <td>
                                <!-- Bouton de modification -->
                                <a href="{{ path('edit_product', {'id': product.ref}) }}" class="btn btn-warning btn-sm" title="Modifier" style="background-color: #56ab2f; border-color: #56ab2f; transition: background-color 0.3s, border-color 0.3s;"
                                   onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                                   onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                                    <i class="ti-pencil-alt"></i>
                                </a>
                                
                                <!-- Bouton de suppression -->
                                <a href="{{ path('delete_product', {'id': product.ref}) }}" class="btn btn-danger btn-sm" title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');" style="background-color: #56ab2f; border-color: #56ab2f; transition: background-color 0.3s, border-color 0.3s;"
                                   onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                                   onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                                    <i class="ti-trash"></i>
                                </a>
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
