{% extends 'base_back.html.twig' %}

{% block title %}Reclamations{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/reclamationCss/reclamation.css') }}">
{% endblock %}

{% block body %}

<style>
  .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
 .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

 /* CSS pour l'effet hover sur les lignes de tableau */
 .table-striped tbody tr:hover {
     background-color: #bbddab; /* Couleur de fond au survol */
     color: #fff; /* Couleur du texte au survol */
 }

 /* Styles pour les boutons */
 .btn {
     /* Styles normaux des boutons */
     background-color: #56ab2f;
     border-color: #56ab2f;
     color: #ffffff; /* Couleur du texte */
     transition: background-color 0.3s; /* Transition fluide pour la couleur de fond */
 }

 /* Styles pour les boutons lorsqu'ils sont survolés */
 .btn:hover {
     background-color: #72c22f; /* Nouvelle couleur de fond */
 }
 .btn.dropdown-toggle:focus {
 background-color: #ffffff; /* Couleur de fond du bouton lorsqu'il est ouvert */
 color: #000000; /* Couleur du texte du bouton lorsqu'il est ouvert */
}
.thead-green {
     background-color: #77bb58;
     color: white;
     position: sticky;
     top: 0;
     z-index: 1;
 }
 .text-green {
 color: green !important;
}
.bg-custom-green {
     background-color: #56ab2f !important; /* votre nouvelle couleur verte */
     color: white;
 }
</style>
<div>
    <br>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="40"  style="fill: currentColor; vertical-align: middle;" class="liste"  id="toggleButton" onclick="toggleList()">
        <path fill="none" d="M0 0h24v24H0V0z"  fill="green"/>
        <path d="M3 9h18v2H3V9zm0 4h18v2H3v-2zm0-8v2h18V5H3z"/>
      </svg>
    <div class="table-responsive" id="reclamationsTable">
        <h1 class="card-title">Liste des réclamations</h1>
        <table class="table table-striped">
            <thead class="bg-custom-green">
                <tr class="text-center">
                    <th>Id Reclamation</th>
                    <th>Id Client</th>
                    <th>Description</th>
                    <th>Titre</th>
                    <th>Statut</th>
                    <th>Type</th>
                    <th>Date Reclamation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for reclamation in reclamations %}
                <tr class="text-center">
                    <td>{{ reclamation.id }}</td>
                    <td>{{ reclamation.idClient.nom }}</td>
                    <td>{{ reclamation.description }}</td>
                    <td>{{ reclamation.titre }}</td>
                    <td>{{ reclamation.statut }}</td>
                    <td>{{ reclamation.type }}</td>
                    <td>{{ reclamation.dateReclamation|date('d-m-Y') }}</td>
                    <td>
                        {% if reclamation.statut == 'Attente' %}         
                            <button class="btn btn-success btn-sm" onclick="showForm({{ reclamation.id }})" title="Répondre">
                              <i class="ti-email"></i>
                          </button>
                        {% endif %}                      

                        <button class="btn btn-danger btn-sm" onclick="confirmArchive('{{ path('archiverRec', {'id': reclamation.id}) }}')" title="Archiver">
                          <i class="ti-trash"></i>
                      </button>                    
                    </td>
                    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    







    <div class="table-responsive" id="archivesTable" style="display:none;">
        <h1 class="card-title">Liste des archives</h1>
        <table class="table table-striped">
            <thead class="bg-custom-green">
                <tr class="text-center">
                    <th>Id Reclamation</th>
                    <th>Id Client</th>
                    <th>Description</th>
                    <th>Titre</th>
                    <th>Statut</th>
                    <th>Type</th>
                    <th>Date Reclamation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for archives in archives %}
                <tr class="text-center">
                    <td>{{ archives.id }}</td>
                    <td>{{ archives.idClient.nom }}</td>
                    <td>{{ archives.description }}</td>
                    <td>{{ archives.titre }}</td>
                    <td>{{ archives.statut }}</td>
                    <td>{{ archives.type }}</td>
                    <td>{{ archives.dateReclamation|date('d-m-Y') }}</td>                
                    <td style="position: relative;"> 
                        <button class="btn btn-danger btn-sm" onclick="confirmDearchive('{{ path('desarchiverRec', {'id': archives.id}) }}')" title="Desarchiver">
                          <i class="ti-trash"></i>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    










    {# Formulaire de réponse à la réclamation #}
        {% for reclamation in reclamations %}
            <div id="form-repondre-{{ reclamation.id }}" style="display: none;" class="bg-white p-5 contact-form">
                <div class="form-group">
                    <h2><strong>Répondre à la réclamation :</strong></h2>
                    {% if reclamation.idClient %}
                        <label for="nom">Nom & Prénom:</label>
                        <input type="text" id="nom" name="nom" class="form-control" value="{{ reclamation.idClient.nom }} {{ reclamation.idClient.prenom }}" readonly>
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" class="form-control" value="{{ reclamation.idClient.email }}" readonly>
                    {% endif %}
                    <label for="type">Type:</label>
                    <input type="text" id="type" name="type" class="form-control" value="{{ reclamation.type }}" readonly>
                    <label for="titre">Titre:</label>
                    <input type="text" id="titre" name="titre" class="form-control" value="{{ reclamation.titre }}" readonly>
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" class="form-control" readonly>{{ reclamation.description }}</textarea>
                    <label for="reponse">Réponse:</label>
                    <textarea id="reponse-{{ reclamation.id }}" name="reponse" class="form-control" rows="5"></textarea>
                </div>
                <button type="button" class="btn btn-success mr-2" onclick="confirmEnvoi('{{ path('repondre_reclamation', {'id': reclamation.id}) }}')">Envoyer</button>
            </div>
        {% endfor %}







    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card position-relative">
            <div class="card-body">
              <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                        <div class="ml-xl-4 mt-3">
                        <p class="card-title">Details sur les réclamations</p>
                          <h1 class="text-success" >{{ nombreRec }}</h1>
                          <h3 class="font-weight-500 mb-xl-4 text-success">Nombre Total</h3>
                          <p class="mb-2 mb-xl-0">Les informations sur le nombre de réclamation reçu par rapport à chaque type</p>
                        </div>  
                        </div>
                      <div class="col-md-12 col-xl-9">
                        <div class="row">
                          <div class="col-md-6 border-right">
                            <div class="table-responsive mb-3 mb-md-0 mt-3">
                              <table class="table table-borderless report-table">
                                <tr>
                                  <td class="text-muted">Réclamation</td>
                                  <td class="w-100 px-0">
                                    <div class="progress progress-md mx-4">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ moyTypeRec }}%" aria-valuenow="{{ moyTypeRec }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td><h5 class="font-weight-bold mb-0">{{ nbTypeRec }}</h5></td>
                                </tr>
                                <tr>
                                  <td class="text-muted">Demande d'information</td>
                                  <td class="w-100 px-0">
                                    <div class="progress progress-md mx-4">
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: {{ moyTypeDi }}%" aria-valuenow="{{ moyTypeDi }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td><h5 class="font-weight-bold mb-0">{{ nbTypeDi }}</h5></td>
                                </tr>
                                <tr>
                                  <td class="text-muted">Demande de collaboration</td>
                                  <td class="w-100 px-0">
                                    <div class="progress progress-md mx-4">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: {{ moyTypeDe }}%" aria-valuenow="{{ moyTypeDe }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td><h5 class="font-weight-bold mb-0">{{ nbTypeDe }}</h5></td>
                                </tr>
                                <tr>
                                  <td class="text-muted">Remerciement</td>
                                  <td class="w-100 px-0">
                                    <div class="progress progress-md mx-4">
                                      <div class="progress-bar bg-info" role="progressbar" style="width: {{ moyTypeRem }}%" aria-valuenow="{{ moyTypeRem }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td><h5 class="font-weight-bold mb-0">{{ nbTypeRem }}</h5></td>
                                </tr>
                                <tr>
                                  <td class="text-muted">Autres</td>
                                  <td class="w-100 px-0">
                                    <div class="progress progress-md mx-4">
                                      <div class="progress-bar bg-primary" role="progressbar" style="width: {{ moyTypeAut }}%" aria-valuenow="{{ moyTypeAut }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </td>
                                  <td><h5 class="font-weight-bold mb-0">{{ nbTypeAut }}</h5></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                                

                          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
                                <div class="col-md-6 mt-3">   
                                       <!-- Ajouter les attributs de données -->
                                       <canvas id="myChart" style="width:100%;max-width:600px" data-x-values="Jan,Fév,Mars,Avr,Mai,Juin,Juil,Août,Sept,Oct,Nov,Déc" data-y-values="{{ reclamationsByMonth|join(',') }}"></canvas>

                                </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<button type="button" class="btn btn-success mr-2" onclick="window.location='{{ path('export_to_excel') }}'">Exporter sur Excel</button>

      <!-- Boite de dialogue -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmRepondre(url) {
        Swal.fire({
            title: 'Êtes-vous sûr?',
            text: "Répondre à la réclamation ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#28a745',
            confirmButtonText: 'Oui, Répondre!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }

    function confirmArchive(url) {
        Swal.fire({
            title: 'Êtes-vous sûr?',
            text: "Voulez-vous archiver cette réclamation?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#28a745',
            confirmButtonText: 'Oui, archiver!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }

    function confirmEnvoi(url) {
        Swal.fire({
            title: 'Êtes-vous sûr?',
            text: "Envoyer la reponse?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#28a745',
            confirmButtonText: 'Oui, Envoyer!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }

    function confirmDearchive(url) {
        Swal.fire({
            title: 'Êtes-vous sûr?',
            text: "Voulez-vous désarchiver cette réclamation?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#28a745',
            confirmButtonText: 'Oui, désarchiver!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>



    




    <!-- Gestion des liste archives/reclamation  -->
      <script>
        function toggleList() {
            var reclamationsTable = document.getElementById('reclamationsTable');
            var archivesTable = document.getElementById('archivesTable');
            var toggleButton = document.getElementById('toggleButton');
    
            if (reclamationsTable.style.display === 'none') {
                reclamationsTable.style.display = 'block';
                archivesTable.style.display = 'none';
                // toggleButton.textContent = 'Afficher la liste des archives';
            } else {
                reclamationsTable.style.display = 'none';
                archivesTable.style.display = 'block';
                // toggleButton.textContent = 'Afficher la liste des réclamations';
            }
        }
    </script>




       <!-- Gestion formulaire de réponse à la réclaamtion -->
    <script>
        function showForm(reclamationId) {
            // Récupérer le formulaire correspondant à l'ID de la réclamation
            var formId = 'form-repondre-' + reclamationId;
            var form = document.getElementById(formId);
            
            // Cacher tous les formulaires de réponse sauf celui correspondant à l'ID de la réclamation cliquée
            var forms = document.querySelectorAll('[id^="form-repondre"]');
            forms.forEach(function(f) {
                if (f.id === formId) {
                    // Si c'est le formulaire cliqué, basculez son affichage
                    f.style.display = f.style.display === 'block' ? 'none' : 'block';
                } else {
                    // Sinon, masquez les autres formulaires
                    f.style.display = 'none';
                }
            });
        }
    </script>


          <!-- Gestion des states pour toute l'année -->
            <script>
                // Récupérer les valeurs depuis les attributs de données
                const canvas = document.getElementById('myChart');
                const xValues = canvas.getAttribute('data-x-values').split(',');
                const yValues = canvas.getAttribute('data-y-values').split(',').map(Number);
                
                new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                    fill: false,
                    lineTension: 0,
                    //backgroundColor: "rgba(0,0,255,1.0)",
                    //borderColor: "rgba(0,0,255,0.1)",
                    pointBackgroundColor: 'green', // Couleur verte pour les points
                    borderColor: 'green', // Couleur de la ligne
                    data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                    yAxes: [{ticks: {min: Math.min(...yValues), max: Math.max(...yValues)}}],
                    }
                }
                });
                </script>




<style>
    /* CSS pour les boutons (SVG) */
.button-svg {
    width: 100%;
    height: auto;
    max-width: 45px;
    max-height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer; /* pour indiquer que c'est un élément cliquable */
}

/* Style pour le survol des boutons */
.button-svg:hover {
    opacity: 0.7; /* réduire légèrement l'opacité lors du survol */
}


/* Style pour le clic des boutons */
.button-svg:active {
    transform: translate(-50%, -50%) scale(0.95); /* légère réduction de la taille lors du clic */
}

.liste {
  background-color: green;
  color: white;
  transition: background-color 0.3s, color 0.3s; /* Animation pour le hover */
  position: absolute;
  right: 10px;
  margin-right: 10px;
}

/* Style hover */
.liste:hover {
  background-color: white;
  color: black;
}


</style>
{% endblock %}

