{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reclamationCss/ajoutRec.css') }}">
{% endblock %}

{% block body %}
<h1>Modification de la Réclamation</h1>
            
<form method="post" id="myForm" novalidate>
  {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">   
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control form-control-lg' ~ (form_errors(form.nom) ? ' is-invalid' : '')}}) }}
            {% if form_errors(form.nom) %}
                <div class="invalid-feedback">
                    {{ form_errors(form.nom) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">   
            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control form-control-lg' ~ (form_errors(form.prenom) ? ' is-invalid' : ''), 'readonly': 'readonly'}}) }}
            {% if form_errors(form.prenom) %}
                <div class="invalid-feedback">
                    {{ form_errors(form.prenom) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg' ~ (form_errors(form.email) ? ' is-invalid' : ''), 'readonly': 'readonly'}}) }}
            {% if form_errors(form.email) %}
                <div class="invalid-feedback">
                    {{ form_errors(form.email) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_label(form.type) }}
            {{ form_widget(form.type, {'attr': {'class': 'form-control form-control-lg' ~ (form_errors(form.type) ? ' is-invalid' : '')}}) }}
            {% if form_errors(form.type) %}
                <div class="invalid-feedback">
                    {{ form_errors(form.type) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_label(form.titre) }}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control form-control-lg' ~ (form_errors(form.titre) ? ' is-invalid' : '')}}) }}
            {% if form_errors(form.titre) %}
                <div class="invalid-feedback">
                    {{ form_errors(form.titre) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-lg cadreDesc' ~ (form_errors(form.description) ? ' is-invalid' : '')}}) }}
            {% if form_errors(form.description) %}
                <div class="invalid-feedback">
                    {{ form_errors(form.description) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary py-3 px-5">Appliquer</button> 
            <button type="button" class="btn btn-secondary py-3 px-5" onclick="annuler()">Retour</button> 
        </div>
        {{ form_end(form) }}  
       
</form>

<script>
  function annuler() {
      window.location.href = "{{ path('addRec') }}";
  }
</script>


{% endblock %}
