{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reclamationCss/ajoutRec.css') }}">
{% endblock %}

{% block body %}
<h1>Modification de l'avis</h1>
            
<form method="post" id="myForm" novalidate>
  {{ form_start(form) }}
        <div class="form-group">   
            {{ form_label(form.nb_etoiles) }}
            {{ form_widget(form.nb_etoiles, {'attr': {'class': 'form-control form-control-lg' ~ (form_errors(form.nb_etoiles) ? ' is-invalid' : ''), 'readonly': 'readonly'}}) }}
            {% if form_errors(form.nb_etoiles) %}
                <div class="invalid-feedback">
                    {{ form_errors(form.nb_etoiles) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">   
            {{ form_label(form.commentaire) }}
            {{ form_widget(form.commentaire, {'attr': {'class': 'form-control form-control-lg' ~ (form_errors(form.commentaire) ? ' is-invalid' : ''), 'readonly': 'readonly'}}) }}
            {% if form_errors(form.commentaire) %}
                <div class="invalid-feedback">
                    {{ form_errors(form.commentaire) }}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary py-3 px-5">Appliquer</button> 
            <button type="button" class="btn btn-secondary py-3 px-5" >Retour</button> 
        </div>
        {{ form_end(form) }}  
       
</form>



{% endblock %}