{% extends 'base_accueil.html.twig' %}

{% block bodyConseil %}
	<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<h1 class="mb-0 bread">Demande des conseils</h1>
				</div>
			</div>
		</div>
	</div>
	<section class="ftco-section contact-section bg-light">
		<div class="container">
			<div style="text-align: center;margin-bottom:60px;">
				<h1>Citation de motivation</h1>
				<blockquote>
					{% if randomQuote %}
						<h5>"{{ randomQuote }}"</h5>
					{% else %}
						<p>No quote available</p>
					{% endif %}
				</blockquote>
			</div>
			<h1>Liste des demandes</h1>
			<div style="overflow: auto; max-height: 400px;">
				<table class="table">
					<thead class="thead-primary">
						<tr class="text-center">
							<th>Statut</th>
							<th>Demande</th>
							<th>Réponse</th>
							<th>Note</th>
							<th>Date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for conseil in conseils|sort((a, b) => b.dateConseil <=> a.dateConseil) %}
							<tr class="text-center">
								<td class="product-name">{{ conseil.statut }}</td>
								<td class="price">{{ conseil.demande }}</td>
								<td class="quantity">{{ conseil.reponse }}</td>
								<td class="total">{{ conseil.note }}</td>
								<td class="total">{{ conseil.dateConseil|date("d/m/Y") }}</td>
								<td>
									<aÉvaluer</td href="/updateNoteConseil/{{conseil.idConseil}}" </a>></tr>
								{% endfor %}
							</tr>
						</tbody>
					</tbody>
				</table>
			</div><br>
			<div class="row block-9">
				<div class="col-md-6 order-md-last d-flex">
					<div class="bg-white p-5 contact-form">
						{% if success %}
							<div class="alert alert-success" role="alert">
								Demande ajoutée avec succès!
							</div>
						{% endif %}
						{% if emptySubmission %}
							<div class="alert alert-danger" role="alert">
								Le formulaire est vide. Veuillez saisir une demande.
							</div>
						{% endif %}
						{% if max %}
							<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
							<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
							<script>
								alertify.alert('Erreur', 'Vous avez atteint le maximum de 3 demandes par jour.');
							</script>
						{% endif %}
						<h4>Envoyer une demande</h4><br>
						<div class="form-group">
							{{ form_start(f, {'attr': {'novalidate': 'novalidate'}}) }}
							{{ form_label(f.demande) }}
							{{ form_widget(f.demande, {'attr': {'class': 'form-control', 'placeholder': 'Votre demande'}}) }}
							{{ form_errors(f.demande) }}
						</div>
						<div class="form-group">
							<input type="submit" value="Envoyer" class="btn btn-primary py-3 px-5">
						</div>
						{{ form_end(f) }}
					</div>
				</div>
				<div class="bg-white col-md-6 d-flex p-5 contact-form">
					<form action="{{ path('conseil_app') }}" method="get">
						<h4>Calories des aliments (100g)</h4>
						<label for="food" style="margin-top: 20px;">Entrez un aliment :</label>
						<input type="text" id="food" name="food" required style="margin-left: 5px;">
						<input type="submit" value="Chercher" class="btn btn-primary py-1 px-3" style="margin-left: 10px;">
						{% if food %}
							{% if calories is null %}
								<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
								<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
								<script>
									alertify.alert('Erreur', 'Nombre de calories non disponible.');
								</script>
							{% else %}
								<h4 style="margin-top: 20px;">Nombre de calories pour "{{ food }}" :</h4>
								<h6>{{ calories }}
									calories</h6>
							{% endif %}
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
