{% extends 'base_accueil.html.twig' %}

{% block bodyConseil %}
<section class="ftco-section contact-section bg-light">
    <div class="container">
        <h1>Liste des conseils</h1>
        <div style="overflow: auto; max-height: 400px;">
            <table class="table">
                <thead class="thead-primary">
                    <tr class="text-center">
                        <th>Statut</th>
                        <th>Demande</th>
                        <th>Réponse</th>
                        <th>Note</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conseil in conseils|sort((a, b) => b.dateConseil <=> a.dateConseil) %}
                    <tr class="text-center">
                        <td class="product-name">{{ conseil.statut }}</td>
                        <td class="price">{{ conseil.demande }}</td>
                        <td class="quantity">{{ conseil.reponse }}</td>
                        <td class="total">{{ conseil.note }}</td>
                        <td class="total">{{ conseil.dateConseil|date("d/m/Y") }}</td>
                        <td><a href="/updateConseil/{{conseil.idConseil}}">Évaluer</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><br>
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <div class="bg-white p-5 contact-form">
                <h4>Évaluer un conseil</h4><br>
                <div class="form-group">
                    {{ form_start(fUpdate) }}
                    Demande
                    {{ form_widget(fUpdate.demande, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(fUpdate.demande) }}
                    <br>
                    Réponse
                    {{ form_widget(fUpdate.reponse, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(fUpdate.reponse) }}
                    <br>
                    Note
                    {{ form_widget(fUpdate.note, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(fUpdate.note) }}
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Envoyer" class="btn btn-primary py-3 px-5">
                    </div>
                    {{ form_end(fUpdate) }}
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <div id="map" class="bg-white"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
