{% extends 'base_back.html.twig' %}

    {% block body %}
     
        <div class="col-lg-20 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Table Alerte </h4>
                {% for type, messages in app.flashes %}
                  {% for message in messages %}
                      <div class="alert alert-{{ type }}" role="alert">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endfor %}
                <div class="table-responsive">
        
                  <table class="table table-hover" style="margin:auto">
                    <thead>
                      <tr>
                        <tr>
                            <th>Id alerte</th>
                            <th>Stock</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Actions</th>
                         
                        </tr>
                      </tr>
                    </thead>
                    <tbody>
                        {% for a in alerts  %}
                        <tr class="{% if a.isType() == false %}alert-unread{% else %}alert-read{% endif %}">
                            <td>{{ a.id_alerte }}</td>
                            <td>{{ a.getId_Stock().getNom() }}</td>
                            <td>{{ a.description_alerte }}</td>
                            <td>{{ a.isType() ? 'Lue' : 'Non lue' }}</td>
                            <td>

    <a href="{{ path('update_alert_type', {'id_alerte': a.id_alerte}) }}" class="alert-link"><button type="button" class="btn btn-warning">Modifier</button></a>
</td>
             <td>   
              <a href="{{ path('delete_read_alerts', {'alertId': a.id_alerte}) }}" class="alert-link"><button type="button" class="btn btn-danger"> Supprimer</button></a>
          </td>     </td>
                        </tr>
                    {% endfor %}
                   
                    </tbody>
                  </table>
                </div>
               
              </div>
            </div>
          </div>
       
        
      
  
</div>

    {% endblock %}
    
    {% block stylesheets %}
        <style>
            .selected {
                background-color: red;
            }
            
            /* CSS pour réduire la largeur du tableau */
            .table-responsive {
                max-width: 30%; /* Vous pouvez ajuster la valeur selon vos besoins */
              
            }
        </style>
    {% endblock %}
 
    
    