{% extends 'base_back.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.champ {
			position: relative;
			width: 100%;
			padding: 20px 10px 10px;
			background: transparent;
			border: none;
			outline: none;
			color: #23242a;
			font-size: 1em;
			letter-spacing: 0.05em;
			z-index: 10;
			text-align: center;
		}
	</style>
{% endblock %}

{% block body %}
	<h2 style="margin: 0 auto; text-align: center;">
		Ajouter un conseiller
	</h2>
	<div style="margin-top:100px; z-index:9; margin-right:100px;">
		{{ form_start(f,{'attr':{'novalidate':'novalidate'}}) }}

		<div>
			<span>{{ form_label(f.nom) }}</span>
			{{ form_widget(f.nom, {'attr': {'style': 'position: relative; margin-top:10px; background:transparent; outline: none; color: #23242a; font-size: 1em; letter-spacing: 0.05em; z-index: 10;'}}) }}
			{{ form_errors(f.nom) }}
		</div>

		<div style="text-align: center;">
			{{ form_label(f.prenom) }}
			{{ form_widget(f.prenom, {'attr': {'style': 'position: relative; margin-top:10px; background:transparent; outline: none; color: #23242a; font-size: 1em; letter-spacing: 0.05em; z-index: 10;'}}) }}
			{{ form_errors(f.prenom) }}
		</div>

		<div style="text-align: center;">
			{{ form_label(f.genre) }}
			{{ form_widget(f.genre, {'attr': {'style': 'position: relative; margin-top:10px; background:transparent; outline: none; color: #23242a; font-size: 1em; letter-spacing: 0.05em; z-index: 10;'}}) }}
			{{ form_errors(f.genre) }}
		</div>

		<div style="text-align: center;">
			{{ form_label(f.email) }}
			{{ form_widget(f.email, {'attr': {'style': 'position: relative; margin-top:10px; background:transparent; outline: none; color: #23242a; font-size: 1em; letter-spacing: 0.05em; z-index: 10;'}}) }}
			{{ form_errors(f.email) }}
		</div>

		<div style="text-align: center;">
			{{ form_label(f.motDePasse) }}
			{{ form_widget(f.motDePasse, {'attr': {'style': 'position: relative; margin-top:10px; background:transparent; outline: none; color: #23242a; font-size: 1em; letter-spacing: 0.05em; z-index: 10;'}}) }}
			{{ form_errors(f.motDePasse) }}
		</div>

		<div style="text-align: center;">
			{{ form_label(f.numTel) }}
			{{ form_widget(f.numTel, {'attr': {'style': 'position: relative; margin-top:10px; background:transparent; outline: none; color: #23242a; font-size: 1em; letter-spacing: 0.05em; z-index: 10;'}}) }}
			{{ form_errors(f.numTel) }}
		</div>

		<div style="text-align: center;">
			{{ form_label(f.matricule) }}
			{{ form_widget(f.matricule, {'attr': {'style': 'position: relative; margin-top:10px; background:transparent; outline: none; color: #23242a; font-size: 1em; letter-spacing: 0.05em; z-index: 10;'}}) }}
			{{ form_errors(f.matricule) }}
		</div>

		<div style="text-align: center;">
			{{ form_label(f.attestation) }}
			{{ form_widget(f.attestation, {'attr': {'style': 'position: relative; margin-top:10px; background:transparent; outline: none; color: #23242a; font-size: 1em; letter-spacing: 0.05em; z-index: 10;'}}) }}
			{{ form_errors(f.attestation) }}
		</div>

		<div style="text-align: center;">
			{{ form_label(f.photo) }}
			{{ form_widget(f.photo, {'attr': {'style': 'position: relative; margin-top:10px; background:transparent; outline: none; color: #23242a; font-size: 1em; letter-spacing: 0.05em; z-index: 10;'}}) }}
			{{ form_errors(f.photo) }}
		</div>

		{{ form_end(f) }}
	</div>
{% endblock %}
