{% extends 'base_back.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block body %}

	<style>
		.table-striped tbody tr:hover {
			background-color: #bbddab; /* Couleur de fond au survol */
			color: #fff; /* Couleur du texte au survol */
		}

		.anchor-pane {
			display: flex;
			justify-content: space-around;
			margin-top: 20px;
		}

		.cards-container {
			display: flex;
			gap: 20px; /* Espacement entre les cartes */
			margin-left: -30px;
		}

		.card2 {
			background: linear-gradient(to right, #19330e, #56ab2f);
			border-radius: 5px;
			padding: 20px;
			color: white;
			text-align: center;
			width: 270px;
			position: relative;
			height: 200px;
		}

		.card2:hover {
			background: linear-gradient(to right, #56ab2f, #19330e);
		}

		.card-image {
			width: 86px;
			height: 78px;
			margin: 0 auto; /* Centrage horizontal de l'image */
			display: block; /* Assurer que l'image se comporte comme un bloc */
			position: absolute;
			top: 10px; /* Distance du haut */
			left: 10px;
		}

		.total {
			font-size: 30px;
			font-weight: bold;
			position: absolute;
			top: 10px; /* Distance du haut */
			right: 10px;
		}
		h3 {
			margin-top: 130px; /* Espacement entre l'image et le titre */

		}
		.table-striped tbody tr:nth-of-type(odd) {
			background-color: #ddeed5;
		}

		#successMessage {
			height: 50px;
			width: 250px;
			margin-right: 250px;
			position: absolute;
			z-index: 999;
		}

		#successMessageModif {
			height: 50px;
			width: 250px;
			margin-right: 250px;
			position: absolute;
			z-index: 999;
		}

		#icon {
			color: white;
		}

		#filtre {
			color: white;
		}
	</style>

	<div class="col-lg-10 grid-margin stretch-card">
		<div class="card">

			<div class="anchor-pane">
				<button type="button" class="btn btn-inverse-success btn-fw" style="margin-top:50px; width:300px; margin-left:30px; height:60px" onclick="window.location.href='ajouterConseiller';">Ajouter un conseiller</button>

				{% for flash_message in app.flashes('success') %}
					<div class="alert alert-success" id="successMessage" role="alert">
						{{ flash_message }}
					</div>
				{% endfor %}


				<div class="col-lg-2" style="margin-top:150px; margin-left:-370px">
					<form action="{{ path('usersList') }}" method="GET">
						<select name="role" class="form-control" onchange="this.form.submit()" style="background-color:#aad597" id="filtre">
							<option value="">Tous</option>
							<option value="Client">Client</option>
							<option value="Conseiller">Conseiller</option>
						</select>
					</form>
				</div>

				<form method="get" action="{{ path('user_search') }}" style="margin-top:150px;">
					<div class="input-group mb-3" style="width:200px;">
						<input type="text" class="form-control" name="q" id="searchInput" placeholder="Rechercher" aria-label="Rechercher" aria-describedby="search" value="{{ searchQuery ?? '' }}">
						<div class="input-group-append hover-cursor" id="navbar-search-icon">
							<button class="btn btn-outline-secondary" type="submit" style="background-color:#aad597">
								<i class="icon-search" id="icon"></i>
							</button>
						</div>
					</div>
				</form>

				<script>
					// Masquer l'alerte après 5 secondes
setTimeout(function () {
document.getElementById('successMessage').style.display = 'none';
}, 5000); // 5000 millisecondes = 5 secondes
				</script>

				{% for flash_message in app.flashes('success') %}
					<div class="alert alert-success" id="successMessageModif" role="alert">
						{{ flash_message }}
					</div>
				{% endfor %}

				<script>
					// Masquer l'alerte après 5 secondes
setTimeout(function () {
document.getElementById('successMessage').style.display = 'none';
}, 5000); // 5000 millisecondes = 5 secondes
				</script>

				<a href="{{ path('clients_pdf') }}" class="btn btn-inverse-success btn-fw" target="_blank" style="width:180px; height:50px; margin-top:80px; ">
					Exporter Clients en PDF
				</a>

				<a href="{{ path('conseillers_pdf') }}" class="btn btn-inverse-success btn-fw" target="_blank" style="width:180px; height:50px; margin-top:145px; margin-right:45px; margin-left:-200px;">
					Exporter Conseillers en PDF
				</a>

				<div class="cards-container">
					<div class="card2" id="cardClient">
						<img src="{{ asset('images/groupe.png') }}" alt="Total Clients" class="card-image">
						<h3>Total Clients</h3>
						<p id="totalClients" class="total">{{ totalClients }}</p>
					</div>
					<div class="card2" id="cardConseiller">
						<img src="{{ asset('images/nutritionniste_blanc.png') }}" alt="Total Conseillers" class="card-image">
						<h3>Total Conseillers</h3>
						<p id="totalConseillers" class="total">{{ totalConseillers }}</p>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<div class="table-wrapper">
						<table class="table table-striped">
							<thead style=" background-color: #77bb58; color: white; position: sticky; top: 0; z-index: 1;">
								<tr>
									<th>
										Photo
									</th>
									<th>
										Nom
									</th>
									<th>
										Prénom
									</th>
									<th>
										Genre
									</th>
									<th>
										Email
									</th>
									<th>
										Mot de passe
									</th>
									<th>
										Numéro tel
									</th>
									<th>
										Rôle
									</th>
									<th>
										Matricule
									</th>
									<th>
										Attestation
									</th>
									<th>
										Adresse
									</th>
									<th>
										Objectif
									</th>
									<th>
										Taille
									</th>
									<th>
										Poids
									</th>
									<th>
										Actions
									</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									<tr>
										<td class="py-1">
											<img src="{{ asset('images/' ~ user.photo) }}" alt="Image">
										</td>
										<td>
											{{ user.nom }}
										</td>
										<td>
											{{ user.prenom }}
										</td>
										<td>
											{{ user.genre }}
										</td>
										<td>
											{{ user.email }}
										</td>
										<td>
											{{ user.motDePasse }}
										</td>
										<td>
											{{ user.numTel }}
										</td>
										<td>
											{{ user.role }}
										</td>
										<td>
											{{ user.matricule }}
										</td>
										<td>
											{{ user.attestation }}
										</td>
										<td>
											{{ user.adresse }}
										</td>
										<td>
											{% if user.role == 'Client' %}
												{{ user.objectif.libelle }}
											{% endif %}
										</td>
										<td>
											{{ user.taille }}
										</td>
										<td>
											{{ user.poids }}
										</td>
										<td>
											{% if user.role == 'Client' %}
												<button href="{{ path('conseiller_update', {'id': user.idUtilisateur}) }}" class="btn btn-warning btn-sm" disabled>
													<i class="ti-pencil menu-icon"></i>
												</button>
											{% endif %}
											{% if user.role == 'Conseiller' %}
												<a href="{{ path('conseiller_update', {'id': user.idUtilisateur}) }}" class="btn btn-warning btn-sm">
													<i class="ti-pencil menu-icon"></i>
												</a>
											{% endif %}

											{% if user.role == 'Client' %}
												<button class="btn btn-danger btn-sm" onclick="confirmSuppression('{{ path('conseiller_delete', {'id': user.idUtilisateur}) }}')" disabled>
													<i class="icon-trash menu-icon"></i>
												</button>
											{% endif %}
											{% if user.role == 'Conseiller' %}
												<a class="btn btn-danger btn-sm" onclick="confirmSuppression('{{ path('conseiller_delete', {'id': user.idUtilisateur}) }}')">
													<i class="icon-trash menu-icon"></i>
												</a>
											{% endif %}

										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="text-center mt-4">
						<div style="display: inline-block;">
							{{ knp_pagination_render(pagination, 'pagination.html.twig') }}
						</div>
					</div>
				</div>
			</div>


		</div>

	</div>

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		function confirmSuppression(url) {
Swal.fire({
title: 'Êtes-vous sûr?',
text: "Vous êtes sur le point de supprimer cet article du panier!",
icon: 'warning',
showCancelButton: true,
confirmButtonColor: '#dc3545',
cancelButtonColor: '#28a745',
confirmButtonText: 'Oui, supprimer!'
}).then((result) => {
if (result.isConfirmed) {
window.location.href = url;
}
});
}
	</script>

	<script>
		// Fonction pour filtrer les résultats du tableau en fonction de la saisie de l'utilisateur
function filterTable() {
var input,
filter,
table,
tr,
td,
i,
txtValue;
input = document.getElementById("searchInput");
filter = input.value.toUpperCase();
table = document.getElementById("userTable");
tr = table.getElementsByTagName("tr");

for (i = 0; i < tr.length; i++) {
td = tr[i].getElementsByTagName("td")[1]; // Modifier l'index en fonction de la colonne que vous souhaitez rechercher
if (td) {
txtValue = td.textContent || td.innerText;
if (txtValue.toUpperCase().indexOf(filter) > -1) {
tr[i].style.display = "";
} else {
tr[i].style.display = "none";
}
}
}
}

// Ajoutez un écouteur d'événements pour déclencher la recherche à chaque fois que l'utilisateur tape quelque chose dans la barre de recherche
document.getElementById("searchInput").addEventListener("keyup", filterTable);
	</script>

{% endblock %}
