{% extends 'base_back.html.twig' %}

{% block title %}Utilisateur
{% endblock %}


{% block body %}
	<style>
		.card-body h2.card-title {
			text-align: center;
			color: #56ab2f; /* Couleur du texte */
			font-size: 24px;
			font-family: "Roboto", sans-serif;
		}

		.custom-file-upload {
			border: 1px solid #ccc;
			display: inline-block;
			padding: 6px 12px;
			cursor: pointer;
			background-color: #f8f8f8;
			border-radius: 5px;
			margin-top: 10px;
		}
	</style>


	<div class="col-md-6 grid-margin stretch-card" style="margin-left:100px;">
		<div class="card">
			<div class="card-body" style="margin-left:200px;">
				
				<h2 class="card-title" style="margin-top:100px;">Mot de passe</h2>
				<div class="forms-sample">
						{{ form_start(f,{'attr':{'novalidate':'novalidate'}}) }}
						<div class="form-group">
							<input type="password" name="ancienMDP" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Mot de passe actuel" required autofocus>
						</div>

						<div
							class="form-group">
							{# Affichage du champ nouveauMotDePasse #}
							<label for="exampleInputUsername1">{{ form_label(f.mot_de_passe) }}</label>
							{{ form_widget(f.mot_de_passe, {'attr': {'class': 'form-control', 'id': 'exampleInputUsername1', 'placeholder': 'Nouveau mot de passe'}}) }}
							{{ form_errors(f.mot_de_passe) }}
						</div>
						{{ form_end(f) }}
					</div>
			</div>
		</div>
	</div>


{% endblock %}
