<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Export PDF</title>
		<style>
			body {
				font-family: Arial, sans-serif;
			}
			table {
				width: 100%;
				border-collapse: collapse;
				margin-bottom: 20px;
			}
			th,
			td {
				border: 1px solid #dddddd;
				padding: 8px;
				text-align: left;
			}
			th {
				background-color: #f2f2f2;
			}
		</style>
	</head>
	<body>
		<h1>Export PDF</h1>
		<table>
			<thead>
				<tr>
					<th>
						Photo
					</th>
					<th>
						Nom
					</th>
					<th>
						Prénom
					</th>
					<th>
						Genre
					</th>
					<th>
						Email
					</th>
					<th>
						Mot de passe
					</th>
					<th>
						Numéro tel
					</th>
					<th>
						Rôle
					</th>
					<th>
						Matricule
					</th>
					<th>
						Attestation
					</th>
					<th>
						Adresse
					</th>
					<th>
						Objectif
					</th>
					<th>
						Taille
					</th>
					<th>
						Poids
					</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td class="py-1">
							<img src={{ user.photo }} alt="image"/>
						</td>
						<td>
							{{ user.nom }}
						</td>
						<td>
							{{ user.prenom }}
						</td>
						<td>
							{{ user.genre }}
						</td>
						<td>
							{{ user.email }}
						</td>
						<td>
							{{ user.motDePasse }}
						</td>
						<td>
							{{ user.numTel }}
						</td>
						<td>
							{{ user.role }}
						</td>
						<td>
							{{ user.matricule }}
						</td>
						<td>
							{{ user.attestation }}
						</td>
						<td>
							{{ user.adresse }}
						</td>
						<td>
							{% if user.role == 'Client' %}
								{{ user.objectif.libelle }}
							{% endif %}
						</td>
						<td>
							{{ user.taille }}
						</td>
						<td>
							{{ user.poids }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
