{% extends 'base_back.html.twig' %}

    {% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Calendrier</h4>
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <link href='fullcalendar/main.css' rel='stylesheet' />
<script src='fullcalendar/main.js'></script>
 
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek'
                },
                events: [
                    {% for s in stocks %}
                    {
                        id: '{{ s.id_s }}',
                        title: '{{ s.nom }} (ID: {{ s.id_s }})',
                        start: '{{ s.dateArrivage|date('Y-m-d') }}',
                        color: '#F08080'
                    },
                    {% endfor %}
                    {% for s in futureStocks %}
                    {
                        id: '{{ s.id_s }}',
                        title: '{{ s.nom }} (ID: {{ s.id_s }})',
                        start: '{{ s.dateArrivage|date('Y-m-d') }}'
                    },
                    {% endfor %}
                ],
                editable: true,
                eventDrop: function(info) {
                    var eventId = info.event.id; // ID de l'événement
                    var newDate = info.event.startStr; // Nouvelle date
                    $.ajax({
                        url: '{{ path('edit_date', {'id': ':id'}) }}'.replace(':id', eventId),
                        method: 'POST',
                        data: {
                            newDate: newDate
                        },
                        success: function(response) {
            console.log('Événement édité avec succès');
            // Redirection vers la route stock_get après le succès de l'édition
            window.location.href = '{{ path('stock_venir') }}';
        },
                        error: function(xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            });
    
            calendar.render();
        });
    </script>
    
    {% endblock %}
    