{% extends 'base_back.html.twig' %}

    {% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Calendrier</h4>
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.1/main.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
    headerToolbar: {
      left: 'prev,next today',
      center: 'title',
      right: 'dayGridMonth,timeGridWeek'
    },
                events: [
                    {% for s in stocks %}
                        {
                            id: '{{ s.id_s }}',
                            title: '{{ s.nom }}',
                            start: '{{ s.dateArrivage|date('Y-m-d') }}',
                            display: 'background',
                            color: '#F08080',
                            
                            
                        },
                    {% endfor %}
                    {% for s in futureStocks %}
                        {
                            id: '{{ s.id_s }}',
                            title: '{{ s.nom }}',
                            start: '{{ s.dateArrivage|date('Y-m-d') }}',
                            display: 'background'
                        },
                    {% endfor %}
                ],
        
    });
            
            calendar.render();
        });
    </script>
    {% endblock %}
    
    {% block stylesheets %}
        <style>
            .fc-toolbar .fc-button-prev,
            .fc-toolbar .fc-button-next {
                background-color: red; /* Couleur de fond pour les boutons précédent et suivant */
                color: white; /* Couleur du texte des boutons */
                border-color: red !important;; /* Couleur de la bordure des boutons */
            }
            
        </style>
    {% endblock %}
    

    