{% extends 'base_back.html.twig' %}

    {% block body %}
        <style>
            .thead-green {
                background-color: #77bb58;
                color: white;
                position: sticky;
                top: 0;
                width: 50px;
                z-index: 1;
            }
            .table-striped tbody tr:hover {
            background-color: #bbddab; /* Couleur de fond au survol */
            color: #fff; /* Couleur du texte au survol */
        }
        .btn {
            /* Styles normaux des boutons */
            background-color: #56ab2f;
            border-color: #56ab2f;
            color: #ffffff; /* Couleur du texte */
            transition: background-color 0.3s; /* Transition fluide pour la couleur de fond */
        }
    
        /* Styles pour les boutons lorsqu'ils sont survolés */
        .btn:hover {
            background-color: #72c22f; /* Nouvelle couleur de fond */
        }
        </style>
        <div class="col-lg-20 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Table Stock En arrivage</h4>
                {# <div class="row mb-4">
                    <div class="col text-right mb-4">
                        <a id="addButton" href="{{ path('app_ajouter_stock') }}?mode=ajouter"class="btn btn-primary hover-effect" style="background-color: #56ab2f; border-color: #56ab2f;" 
                           onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                           onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                            <i class="ti-plus"></i>
                            Ajouter un stock
                        </a>
                    </div>
                </div> #}
                <div class="col-md-12" style="margin-left: 500px;">
                    <div class="card-body" style="text-align: center;">
                        <button type="button" id="showCalendarButton" class="btn btn-primary">Afficher Calendrier</button>
                    </div>
                </div>
                <div class="table-responsive" style="margin-top: 60px;margin-right:120px;">
                    <table class="table table-hover table-striped" style="margin:auto">
                    <thead class="thead-success thead-green">
                      <tr> 
                        <tr >
                            <th>Nom du stock</th>
                            <th>Marque</th>
                            <th>Quantités</th>
                            <th>Nombre vendus</th>
                            <th>Cout</th>
                            {% if app.request.attributes.get('_route') == 'stock_get' %}
                                <th>Date </th>
                            {% elseif app.request.attributes.get('_route') == 'stock_venir' %}
                                <th>Date d'Arrivage </th>
                            {% endif %}
                            <th>Image</th>
                            <th colspan="3"> Actions</th>
                        </tr>
                      </tr>
                    </thead>
                    <tbody>
                        {% for s in pagination %}
                            {# <tr  ><td class="py-1">{{ s.getRefProduit().getCategorie() }}</td> #}
                            
                                <td class="py-1" >{{ s.nom }}</td>
                            
                                <td >{{ s.marque }}</td>
                                <td style="font-size: 12px;">{{ s.quantite }}</td>
                                <td style="font-size: 12px;">{{ s.nbvendu }}</td>
                                <td >{{ s.cout }}</td>
                                <td style="font-size: 12px;">{{ s.dateArrivage|date('Y-m-d') }}</td>
                                <td><img src="{{ asset('images/' ~ s.image) }}" alt="Image"></td>
                                <td> 
                                    <a  href="{{ path('stock_edit', {id: s.id_s}) }}?mode=modifier" enctype="multipart/form-data" class="btn btn-warning btn-sm" title="Modifier" style="background-color: #56ab2f; border-color: #56ab2f; transition: background-color 0.3s, border-color 0.3s;"
                              onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                              onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                               <i class="ti-pencil-alt"></i>
                           </a></td>
                                {# <td>
                                    <a href="{{ path('stock_update', {id: s.id_s}) }}">
                                        <button type="button" class="btn btn-warning">Modifier</button>
                                    </a>
                                </td> #}
                                <td>
                                <a  href="#"  onclick="confirmSuppression('{{ path('stock_delete', {id: s.id_s}) }}'); return false;"class="btn btn-danger btn-sm" title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');" style="background-color: #56ab2f; border-color: #56ab2f; transition: background-color 0.3s, border-color 0.3s;"
                                onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                                onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                                 <i class="ti-trash"></i>
                             </a> 
                            </td>  </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
                <td  >
                    <a href="{{ path('export_pdffuture') }}" class="export-btn">
                        <button type="button" class="btn btn-secondary" style="margin-top: 200px;">Export PDF</button>
                    </a>
        </td>
                <div class="d-flex justify-content-center">
                    {% do pagination.setPageRange(2) %}
                    {{ knp_pagination_render(pagination, 'pagination.html.twig') }}
                </div>
                {# <div class="col-md-12" style="margin-top: 70px;">
                    <div class="card-body" style="text-align: center;">
                        <a href="{{ path('app_ajouter_stock') }}?mode=ajouter"> <button type="button" id="addButton" class="btn btn-success" >Ajouter</button></a>
  
                       {# <a href="{{ path('app_ajouter_stock') }}"> <button type="button" id="addButton" class="btn btn-success" >Ajouter</button></a> #}
                        {# <button type="button" class="btn btn-warning">Modifier</button> #}
                        {# <button type="button" class="btn btn-danger" id="deleteSelected">Supprimer</button> #}
                    {# </div>
                </div> #} 
              </div>
            </div>
          </div>
      

    
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        var showCalendarButton = document.getElementById('showCalendarButton');
        showCalendarButton.addEventListener('click', function() {
            window.location.href = "{{ path('afficher_calendrier') }}";
        });
    });
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmSuppression(url) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // Effectuer la suppression en envoyant une requête AJAX
                var xhr = new XMLHttpRequest();
                xhr.open("DELETE", url, true);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        // La suppression a réussi
                        swalWithBootstrapButtons.fire({
                            title: "Deleted!",
                            text: "Your file has been deleted.",
                            icon: "success"
                        }).then(() => {
                            // Recharger la page après la suppression réussie
                            window.location.reload();
                        });
                    } else {
                        // La suppression a échoué
                        swalWithBootstrapButtons.fire({
                            title: "Error",
                            text: "Failed to delete the file.",
                            icon: "error"
                        });
                    }
                };
                xhr.send();
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                swalWithBootstrapButtons.fire({
                    title: "Cancelled",
                    text: "Your imaginary file is safe :)",
                    icon: "error"
                });
            }
        });
    }
</script>
    {% endblock %}
    
    {% block stylesheets %}
        <style>
            .selected {
                background-color: red;
            }
            
            /* CSS pour réduire la largeur du tableau */
            .table-responsive {
                max-width: 30%; /* Vous pouvez ajuster la valeur selon vos besoins */
              
            }
        </style>
    {% endblock %}
 
        {% block javascripts %}
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var addButton = document.querySelector("#addButton");
                    addButton.addEventListener("click", function() {
                        window.location.href = "{{ path('app_ajouter_stock') }}?mode=ajouter";
                    });
            
                    var editButton = document.querySelector("#editButton");
                    editButton.addEventListener("click", function() {
                        window.location.href = "{{ path('app_ajouter_stock') }}?mode=modifier";
                    });
                });
            </script>
            
        {% endblock %}