{% extends 'base_back.html.twig' %}

    {% block body %}
        <div class="col-lg-20 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"> Table Stock </h4>
                <div class="col-md-12" style="margin-left: 590px;">
                    <div class="card-body" style="text-align: center;">
                        <button type="button" id="showCalendarButton" class="btn btn-primary">Afficher Calendrier</button>
                    </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover" style="margin:auto">
                    <thead>
                      <tr> 
                        <tr>
                            <th>Nom du stock</th>
                            <th>Marque</th>
                            <th>Quantités</th>
                            <th>Nombre vendus</th>
                            <th>Cout</th>
                            <th>Date arrivage</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                      </tr>
                    </thead>
                    <tbody>
                        {% for s in futureStocks %}
                            {# <tr  ><td class="py-1">{{ s.getRefProduit().getCategorie() }}</td> #}
                            
                                <td class="py-1" >{{ s.nom }}</td>
                            
                                <td >{{ s.marque }}</td>
                                <td style="font-size: 12px;">{{ s.quantite }}</td>
                                <td style="font-size: 12px;">{{ s.nbvendu }}</td>
                                <td >{{ s.cout }}</td>
                                <td style="font-size: 12px;">{{ s.dateArrivage|date('Y-m-d') }}</td>
                                <td><img src="{{ asset('images/' ~ s.image) }}" alt="Image"></td>
                                <td>  <a href="{{ path('stock_edit', {id: s.id_s}) }}?mode=modifier">
                                     <button class="btn btn-warning ">Modifier
                                        </button>  </a></td>
                                {# <td>
                                    <a href="{{ path('stock_update', {id: s.id_s}) }}">
                                        <button type="button" class="btn btn-warning">Modifier</button>
                                    </a>
                                </td> #}
                                <td>
                                    <a href="{{ path('stock_delete', {id: s.id_s}) }}">
                                        <button type="button" class="btn btn-danger">Supprimer</button>
                                    </a>
                                </td> </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="col-md-12" style="margin-top: 70px;">
                    <div class="card-body" style="text-align: center;">
                        <a href="{{ path('app_ajouter_stock') }}?mode=ajouter"> <button type="button" id="addButton" class="btn btn-success" >Ajouter</button></a>
  
                       {# <a href="{{ path('app_ajouter_stock') }}"> <button type="button" id="addButton" class="btn btn-success" >Ajouter</button></a> #}
                        {# <button type="button" class="btn btn-warning">Modifier</button> #}
                        {# <button type="button" class="btn btn-danger" id="deleteSelected">Supprimer</button> #}
                    </div>
                </div>
              </div>
            </div>
          </div>
       
    
    {% for flash_message in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        var showCalendarButton = document.getElementById('showCalendarButton');
        showCalendarButton.addEventListener('click', function() {
            window.location.href = "{{ path('afficher_calendrier') }}";
        });
    });
</script>
  
    {% endblock %}
    
    {% block stylesheets %}
        <style>
            .selected {
                background-color: red;
            }
            
            /* CSS pour réduire la largeur du tableau */
            .table-responsive {
                max-width: 30%; /* Vous pouvez ajuster la valeur selon vos besoins */
              
            }
        </style>
    {% endblock %}
 
        {% block javascripts %}
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var addButton = document.querySelector("#addButton");
                    addButton.addEventListener("click", function() {
                        window.location.href = "{{ path('app_ajouter_stock') }}?mode=ajouter";
                    });
            
                    var editButton = document.querySelector("#editButton");
                    editButton.addEventListener("click", function() {
                        window.location.href = "{{ path('app_ajouter_stock') }}?mode=modifier";
                    });
                });
            </script>
            
        {% endblock %}