{% extends 'base_back.html.twig' %}
  
  {% block body %}
    <style>
        .thead-green {
            background-color: #77bb58;
            color: white;
            position: sticky;
            top: 0;
            width: 50px;
            z-index: 1;
        }
        .table-striped tbody tr:hover {
        background-color: #bbddab; /* Couleur de fond au survol */
        color: #fff; /* Couleur du texte au survol */
    }
    .btn {
        /* Styles normaux des boutons */
        background-color: #56ab2f;
        border-color: #56ab2f;
        color: #ffffff; /* Couleur du texte */
        transition: background-color 0.3s; /* Transition fluide pour la couleur de fond */
    }

    /* Styles pour les boutons lorsqu'ils sont survolés */
    .btn:hover {
        background-color: #72c22f; /* Nouvelle couleur de fond */
    }
    </style>
      <div class="col-lg-20 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
                
              <h4 class="card-title"> Table Stock </h4>
              <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <canvas id="barChart" width="300" height="200"></canvas>
                    </div>
                </div>
            </div>
           
              <div class="row mb-4">
                <div class="col text-right mb-4">
                    <a id="addButton" href="{{ path('app_ajouter_stock') }}?mode=ajouter"class="btn btn-primary hover-effect" style="background-color: #56ab2f; border-color: #56ab2f;" 
                       onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                       onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                        <i class="ti-plus"></i>
                        Ajouter un stock
                    </a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col text-right mb-4" style="margin-right: 1px; margin-left: 900px;">
                    <a id="convertToEuro" href="#" class="btn btn-primary hover-effect" style="background-color: #56ab2f; border-color: #56ab2f;  font-size:10px;" 
                       onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                       onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                        &euro;
                    </a>
                </div>
                <div class="col text-right mb-4" style="margin-right: 1px;">
                    <a id="convertToDollar" href="#" class="btn btn-primary hover-effect" style="background-color: #56ab2f; border-color: #56ab2f; font-size:10px;" 
                       onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                       onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                        &dollar;
                    </a>
                </div>
                <div class="col text-right mb-4" style="margin-right: 1px;">
                    <a id="restoreOriginalCosts" href="#" class="btn btn-primary hover-effect" style="background-color: #56ab2f; border-color: #56ab2f; font-size:10px;" 
                       onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                       onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                        TND
                    </a>
                </div>
            </div>  {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            <div class="row mt-4">
                <div class="col-md-12">
                    <!-- Formulaire de recherche -->
                    <form method="get" action="{{ path('app_stocks_search') }}">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="q" id="searchInput" placeholder="Rechercher par nom de stock" aria-label="Rechercher par nom de stock" aria-describedby="search"  value="{{ searchQuery ?? '' }}">
                            <div class="input-group-append hover-cursor" id="navbar-search-icon">
                                <button class="btn btn-outline-secondary" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            
            {# {% if searchQuery is defined %}
                {% if searchQuery %}
                    <h3>Résultats de la recherche pour "{{ searchQuery }}" :</h3>
                {% endif %}
            {% endif %} #}
              <div class="table-responsive">
                <table class="table table-hover table-striped" style="margin:auto">
                    <thead class="thead-success thead-green">
                    <tr>
                      <tr>
                          <th>Nom du stock</th>
                          <th>Marque</th>
                          <th>Quantités</th>
                          <th>Nombre vendus</th>
                          <th>Cout</th>
                      
                          {% if app.request.attributes.get('_route') == 'stock_get' %}
                            <th>Date </th>
                        {% elseif app.request.attributes.get('_route') == 'stock_venir' %}
                            <th>Date d'Arrivage Prévue</th>
                        {% endif %}
                        <th>Image</th>
                        <th colspan="3">Actions</th>
                      </tr>
                    </tr>
                  </thead>
                  <tbody> 
                
                        {# {% for s in stocks %} #}
                            
                            {% for s in pagination %}
                                {% if search_filter is not defined or search_filter is null or s.nom matches '/.*' ~ search_filter ~ '.*/i' %}
                          {# <tr  ><td class="py-1">{{ s.getRefProduit().getCategorie() }}</td> #}
                          
                              <td class="py-1" >{{ s.nom }}</td>
                          
                              <td >{{ s.marque }}</td>
                              <td style="font-size: 12px;">{{ s.quantite }}</td>
                              <td style="font-size: 12px;">{{ s.nbvendu }}</td>
                          
                              <td class="cost" data-amount="{{ s.cout }}">{{ s.cout }} Dinar</td>
                              {# <td >{{ s.cout }}</td> #}
                              <td style="font-size: 12px;">{{ s.dateArrivage|date('Y-m-d') }}</td>
                              <td><img src="{{ asset('images/' ~ s.image) }}" alt="Image"></td>
                              {# <td> 
                                    <a  href="{{ path('stock_edit', {id: s.id_s}) }}?mode=modifier" enctype="multipart/form-data" class="btn btn-warning btn-sm" title="Modifier" style="background-color: #56ab2f; border-color: #56ab2f; transition: background-color 0.3s, border-color 0.3s;"
                              onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                              onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                               <i class="ti-pencil-alt"></i>
                           </a></td> #}
                              {# <td>
                                  <a href="{{ path('stock_update', {id: s.id_s}) }}">
                                      <button type="button" class="btn btn-warning">Modifier</button>
                                  </a>
                              </td> #}
                              <td>
                                    <a href="{{ path('stock_edit', {id: s.id_s}) }}?mode=modifier" enctype="multipart/form-data" class="btn btn-warning btn-sm">
                                        <i class="ti-pencil-alt"></i>
                                    </a>
                              {# <td>
                                <a  href="#"  onclick="confirmSuppression('{{ path('stock_delete', {id: s.id_s}) }}'); return false;"class="btn btn-danger btn-sm" title="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');" style="background-color: #56ab2f; border-color: #56ab2f; transition: background-color 0.3s, border-color 0.3s;"
                                onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                                onmouseout="this.style.backgroundColor='#red'; this.style.color=''; this.style.borderColor='#56ab2f';">
                                 <i class="ti-trash "></i>
                             </a> 
                            </td> #}
                            </td>
                            <td>
                            <button class="btn btn-danger btn-sm" onclick="confirmSuppression('{{ path('stock_delete', {id: s.id_s}) }}'); return false;">
                                <i class="ti-trash"></i>
                            </button>
                            </td>
                            {# <td>
                                <a id="convertToDollar"  href="#"  class="btn btn-danger btn-sm" title="convertir dollar"  style="background-color: #56ab2f; border-color: #56ab2f; transition: background-color 0.3s, border-color 0.3s;"
                                onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                                onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                                &dollar;
                             </a> 
                            </td> 
                            <td>
                                <a id="convertToEuro"  href="#"  class="btn btn-danger btn-sm" title="convertir euro"  style="background-color: #56ab2f; border-color: #56ab2f; transition: background-color 0.3s, border-color 0.3s;"
                                onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                                onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                                &euro;
                             </a> 
                            </td>
                            <td>
                                <a id="restoreOriginalCosts"  href="#"  class="btn btn-danger btn-sm" title=" restoreOriginalCosts"  style="background-color: #56ab2f; border-color: #56ab2f; transition: background-color 0.3s, border-color 0.3s;"
                                onmouseover="this.style.backgroundColor='#bbddab'; this.style.color=''; this.style.borderColor='#bbddab';" 
                                onmouseout="this.style.backgroundColor='#56ab2f'; this.style.color=''; this.style.borderColor='#56ab2f';">
                          TND
                             </a> 
                            </td> #}
                            </tr>
                        {% endif %}
                        {% endfor %}
                    {# {% endfor %} #}
                  </tbody>
                </table>
                
              </div>
   
          

              <td>
                                  <a href="{{ path('export_pdf') }}" class="export-btn">
                                      <button type="button" class="btn btn-secondary">Export PDF</button>
                                  </a>
             </td>
            
              <div class="d-flex justify-content-center">
                {% do pagination.setPageRange(2) %}
                {{ knp_pagination_render(pagination, 'pagination.html.twig') }}
            </div>
         

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#searchInput').on('input', function() {
            var input = $(this).val();
            if (input.length >= 1) {
                $.ajax({
                    url: '{{ path('app_stocks_search') }}',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        q: input
                    },
                    success: function(response) {
                        var options = '';
                        $.each(response.stocks, function(index, value) {
                            options += '<option value="' + value + '">';
                        });
                        $('#searchResults').html(options);
                    }
                });
            } else {
                $('#searchResults').html('');
            }
        });
    });
</script>




{# ****************swwet Alert ************************ #}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmSuppression(url) {
        Swal.fire({
            title: 'Êtes-vous sûr?',
            text: "Vous êtes sur le point de vider le panier!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#28a745',
            confirmButtonText: 'Oui, vider le panier!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }

    function confirmSuppression(url) {
        Swal.fire({
            title: 'Êtes-vous sûr?',
            text: "Vous êtes sur le point de supprimer cet article du panier!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545',
            cancelButtonColor: '#28a745',
            confirmButtonText: 'Oui, supprimer!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
    </script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{# <script>
    function confirmSuppression(url) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // Effectuer la suppression en envoyant une requête AJAX
                var xhr = new XMLHttpRequest();
                xhr.open("DELETE", url, true);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        // La suppression a réussi
                        swalWithBootstrapButtons.fire({
                            title: "Deleted!",
                            text: "Your file has been deleted.",
                            icon: "success"
                        }).then(() => {
                            // Recharger la page après la suppression réussie
                            window.location.reload();
                        });
                    } else {
                        // La suppression a échoué
                        swalWithBootstrapButtons.fire({
                            title: "Error",
                            text: "Failed to delete the file.",
                            icon: "error"
                        });
                    }
                };
                xhr.send();
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                swalWithBootstrapButtons.fire({
                    title: "Cancelled",
                    text: "Your imaginary file is safe :)",
                    icon: "error"
                });
            }
        });
    }
</script> #}

{# ****************Chart ************************ #}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Récupération des données depuis Twig
        const dataFromTwig = {
            stocks: [
                {% for stock in stocks %}
                    {
                        id: {{ stock.id_s }},
                        nom: "{{ stock.nom }}",
                        nbvendu: {{ stock.nbvendu }}
                    },
                {% endfor %}
            ]
        };
        
        // Générer des couleurs aléatoires pour chaque barre
        function generateRandomColor() {
            const r = Math.floor(Math.random() * 256);
            const g = Math.floor(Math.random() * 256);
            const b = Math.floor(Math.random() * 256);
            return `rgba(${r}, ${g}, ${b}, 0.5)`;
        }

        // Créer un tableau de couleurs aléatoires pour chaque barre
        const colors = Array.from({ length: dataFromTwig.stocks.length }, () => generateRandomColor());

        // Création du bar chart
        var ctx = document.getElementById('barChart').getContext('2d');
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: dataFromTwig.stocks.map(stock => stock.nom), // Utiliser les noms des stocks comme étiquettes sur l'axe x
                datasets: [{
                    label: 'Nombre vendu',
                    data: dataFromTwig.stocks.map(stock => stock.nbvendu), // Utiliser les nombres vendus comme valeurs sur l'axe y
                    backgroundColor: colors, // Utiliser les couleurs aléatoires générées
                    borderColor: 'rgba(255,255,255,1)',
                    borderWidth: 1 // Épaisseur de la bordure
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Stock' // Titre de l'axe des abscisses
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Nombre vendu par stock'
                        },
                        ticks: {
                            stepSize: 10 // Définir l'intervalle de 10 sur l'axe y
                        }
                    }
                },
                title: {
                    display: true,
                    text: 'Nombre vendus par stock', // Titre du graphique à barres
                    font: {
                        size: 18 // Taille de la police du titre
                    }
                }
            }
        });
    });
</script>
{# ****************Euro ************************ #}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const convertToEuroButton = document.getElementById('convertToEuro');
        const costs = document.querySelectorAll('.cost');
        let tndToEuroRate = 0; // Variable pour stocker le taux de change
        let originalCosts = []; // Variable pour stocker les coûts d'origine
        // Fonction pour appeler l'API et obtenir le taux de change
        function fetchExchangeRate() {
            fetch('https://api.exchangerate-api.com/v4/latest/TND')
                .then(response => response.json())
                .then(data => {
                    tndToEuroRate = data.rates.EUR; // Récupérer le taux de change TND/EUR
                    console.log(`Le taux de change TND/EUR est : ${tndToEuroRate}`);
                })
                .catch(error => {
                    console.error('Error fetching exchange rate:', error);
                });
        }

        // Fonction pour convertir les coûts en euro
        function convertToEuro() {
            saveOriginalCosts(); 
            costs.forEach(function (cost) {
                const tndAmount = parseFloat(cost.dataset.amount);
                const euroAmount = tndAmount * tndToEuroRate;
                cost.innerText = euroAmount.toFixed(2) + ' Euro';
            });
        }
        function saveOriginalCosts() {
            costs.forEach(function (cost, index) {
                originalCosts[index] = cost.innerText;
            });
        }

        // Fonction pour restaurer les coûts initiaux
        function restoreOriginalCosts() {
            costs.forEach(function (cost, index) {
                cost.innerText = originalCosts[index];
            });
        }

        // Appeler l'API pour obtenir le taux de change au chargement de la page
        fetchExchangeRate();

        // Ajouter un événement au bouton de conversion en euro
        convertToEuroButton.addEventListener('click', function () {
           
            if (tndToEuroRate !== 0) {
                convertToEuro();
            } else {
                // Attendre que le taux de change soit récupéré avant de convertir
                setTimeout(convertToEuro, 1000); // Attendre 1 seconde avant de réessayer
            }
        });
 
      // Ajouter un événement au bouton pour restaurer les coûts d'origine
      const restoreOriginalCostsButton = document.getElementById('restoreOriginalCosts');
        restoreOriginalCostsButton.addEventListener('click', function () {
            restoreOriginalCosts();
        });
        });
</script>
{# ****************Dollar ************************ #}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const convertToDollarButton = document.getElementById('convertToDollar');
        const costs = document.querySelectorAll('.cost');
        let tndToDollarRate = 0; // Variable pour stocker le taux de change
        let originalCosts = []; // Variable pour stocker les coûts d'origine
        
        // Fonction pour appeler l'API et obtenir le taux de change
        function fetchExchangeRate() {
            fetch('https://api.exchangerate-api.com/v4/latest/TND')
                .then(response => response.json())
                .then(data => {
                    tndToDollarRate = data.rates.USD; // Récupérer le taux de change TND/USD
                    console.log(`Le taux de change TND/USD est : ${tndToDollarRate}`);
                })
                .catch(error => {
                    console.error('Error fetching exchange rate:', error);
                });
        }

        // Fonction pour convertir les coûts en dollar
        function convertToDollar() {
            saveOriginalCosts(); // Sauvegarder les coûts d'origine avant la conversion
            costs.forEach(function (cost) {
                const tndAmount = parseFloat(cost.dataset.amount);
                const dollarAmount = tndAmount * tndToDollarRate;
                cost.innerText = dollarAmount.toFixed(2) + ' Dollar';
            });
        }

        // Fonction pour sauvegarder les coûts d'origine
        function saveOriginalCosts() {
            costs.forEach(function (cost, index) {
                originalCosts[index] = cost.innerText;
            });
        }

        // Fonction pour restaurer les coûts initiaux
        function restoreOriginalCosts() {
            costs.forEach(function (cost, index) {
                cost.innerText = originalCosts[index];
            });
        }

        // Appeler l'API pour obtenir le taux de change au chargement de la page
        fetchExchangeRate();

        // Ajouter un événement au bouton de conversion en dollar
        convertToDollarButton.addEventListener('click', function () {
            // Vérifier si le taux de change a été récupéré
            if (tndToDollarRate !== 0) {
                convertToDollar();
            } else {
                // Attendre que le taux de change soit récupéré avant de convertir
                setTimeout(convertToDollar, 1000); // Attendre 1 seconde avant de réessayer
            }
        });

        // Ajouter un événement au bouton pour restaurer les coûts d'origine
        const restoreOriginalCostsButton = document.getElementById('restoreOriginalCosts');
        restoreOriginalCostsButton.addEventListener('click', function () {
            restoreOriginalCosts();
        });
    });
</script>
{% endblock %}
  
  {% block stylesheets %}
      <style>
          .selected {
              background-color: red;
          }
          
          /* CSS pour réduire la largeur du tableau */
          .table-responsive {
              max-width: 30%; /* Vous pouvez ajuster la valeur selon vos besoins */
            
          }
      </style>
  {% endblock %}
 
   
      {% block javascripts %}
          <script>
              document.addEventListener("DOMContentLoaded", function() {
                  var addButton = document.querySelector("#addButton");
                  addButton.addEventListener("click", function() {
                      window.location.href = "{{ path('app_ajouter_stock') }}?mode=ajouter";
                  });
          
                  var editButton = document.querySelector("#editButton");
                  editButton.addEventListener("click", function() {
                      window.location.href = "{{ path('app_ajouter_stock') }}?mode=modifier";
                  });
              });
          </script>
          
      {% endblock %}