{% extends 'base_back.html.twig' %}

  {% block body %}
      <div class="col-lg-20 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
                
              <h4 class="card-title"> Table Stock </h4>
        
              <div class="table-responsive">
                <table class="table table-hover" style="margin:auto">
                  <thead>
                    <tr>
                      <tr>
                          <th>Nom du stock</th>
                          <th>Marque</th>
                          <th>Quantités</th>
                          <th>Nombre vendus</th>
                          <th>Cout</th>
                          <th>Date Arrivage</th>
                          <th>Image</th>
                          <th>Action</th>
                      </tr>
                    </tr>
                  </thead>
                  <tbody> 
                      {% for s in stocks %}
                          {# <tr  ><td class="py-1">{{ s.getRefProduit().getCategorie() }}</td> #}
                          
                              <td class="py-1" >{{ s.nom }}</td>
                          
                              <td >{{ s.marque }}</td>
                              <td style="font-size: 12px;">{{ s.quantite }}</td>
                              <td style="font-size: 12px;">{{ s.nbvendu }}</td>
                          

                              <td >{{ s.cout }}</td>
                              <td style="font-size: 12px;">{{ s.dateArrivage|date('Y-m-d') }}</td>
                              <td><img src="{{ asset('images/' ~ s.image) }}" alt="Image"></td>
                              <td>  <a href="{{ path('stock_edit', {id: s.id_s}) }}?mode=modifier">
                                   <button class="btn btn-warning ">Modifier
                                      </button>  </a></td>
                              {# <td>
                                  <a href="{{ path('stock_update', {id: s.id_s}) }}">
                                      <button type="button" class="btn btn-warning">Modifier</button>
                                  </a>
                              </td> #}
                              <td>
                                <a href="#" onclick="confirmSuppression('{{ path('stock_delete', {id: s.id_s}) }}'); return false;">
                                    <button type="button" class="btn btn-danger">Supprimer</button>
                                </a>
                            </td> </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="col-md-12" style="margin-top: 70px;">
                  <div class="card-body" style="text-align: center;">
                      <a href="{{ path('app_ajouter_stock') }}?mode=ajouter"> <button type="button" id="addButton" class="btn btn-success" >Ajouter</button></a>

                     {# <a href="{{ path('app_ajouter_stock') }}"> <button type="button" id="addButton" class="btn btn-success" >Ajouter</button></a> #}
                      {# <button type="button" class="btn btn-warning">Modifier</button> #}
                      {# <button type="button" class="btn btn-danger" id="deleteSelected">Supprimer</button> #}
                  </div>
              </div>
            
              <!-- Modal pour afficher le calendrier -->
    {# <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="calendarModalLabel">Calendrier des Stocks</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div> #}
  {% for flash_message in app.session.flashbag.get('danger') %}
      <div class="alert alert-danger" role="alert">
          {{ flash_message }}
      </div>
  {% endfor %}
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmSuppression(url) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // Effectuer la suppression en envoyant une requête AJAX
                var xhr = new XMLHttpRequest();
                xhr.open("DELETE", url, true);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        // La suppression a réussi
                        swalWithBootstrapButtons.fire({
                            title: "Deleted!",
                            text: "Your file has been deleted.",
                            icon: "success"
                        }).then(() => {
                            // Recharger la page après la suppression réussie
                            window.location.reload();
                        });
                    } else {
                        // La suppression a échoué
                        swalWithBootstrapButtons.fire({
                            title: "Error",
                            text: "Failed to delete the file.",
                            icon: "error"
                        });
                    }
                };
                xhr.send();
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                swalWithBootstrapButtons.fire({
                    title: "Cancelled",
                    text: "Your imaginary file is safe :)",
                    icon: "error"
                });
            }
        });
    }
</script>




{% endblock %}
  
  {% block stylesheets %}
      <style>
          .selected {
              background-color: red;
          }
          
          /* CSS pour réduire la largeur du tableau */
          .table-responsive {
              max-width: 30%; /* Vous pouvez ajuster la valeur selon vos besoins */
            
          }
      </style>
  {% endblock %}
  {# {% block javascripts %} #}
      {# <script>
          $(document).ready(function() {
              $('#btnAjouter').click(function() {
                  $('#addStockModal').modal('show');
              });
              
              $('.btnModifier').click(function() {
          var id_s = $(this).data('id');
          var formAction = '{{ path('stock_edit', {id: 'ID'}) }}'.replace('ID', id_s);
          $('#updateStockForm').attr('action', formAction);
      });
          });
      </script>
      {% endblock %} #}
      {% block javascripts %}
          <script>
              document.addEventListener("DOMContentLoaded", function() {
                  var addButton = document.querySelector("#addButton");
                  addButton.addEventListener("click", function() {
                      window.location.href = "{{ path('app_ajouter_stock') }}?mode=ajouter";
                  });
          
                  var editButton = document.querySelector("#editButton");
                  editButton.addEventListener("click", function() {
                      window.location.href = "{{ path('app_ajouter_stock') }}?mode=modifier";
                  });
              });
          </script>
          
      {% endblock %}