{% extends 'base_back.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block body %}
<div class="col-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ajouter un objectif</h4>
            <p class="card-description">Veuillez ajouter les informations de l'objectif ci-dessous.</p>
            {% if emptySubmission %}
                {% set atLeastOneChecked = false %}
                {% for choice in form.listCritere %}
                    {% if choice.vars.checked %}
                        {% set atLeastOneChecked = true %}
                    {% endif %}
                {% endfor %}
                {% if not atLeastOneChecked %}
                    <div class="alert alert-danger" role="alert">
                        Veuillez sélectionner au moins un critère.
                    </div>
                {% endif %}
            {% endif %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'objectif-form'}}) }}
            <div class="form-group">
                {{ form_label(form.libelle, 'Libelle') }}
                {{ form_widget(form.libelle, {'attr': {'class': 'form-control', 'placeholder': 'Libelle'}}) }}
                {{ form_errors(form.libelle) }}
            </div>
            {% for choice in form.listCritere %}
                <div class="form-check critere-item">
                    <div style="display: flex; align-items: center;">
                        {{ form_widget(choice, { 'attr': {'class': 'form-check-input custom-checkbox'} }) }}
                        <label class="form-check-label" style="margin-left: 10px; font-weight: bold;">{{ choice.vars.label }}</label>
                    </div>
                </div>
            {% endfor %}
            {{ form_errors(form.listCritere) }}
            <button type="submit" class="btn btn-primary mr-2">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<style>
    .custom-checkbox {
        width: 20px; /* Ajustez la largeur selon vos préférences */
        height: 20px; /* Ajustez la hauteur selon vos préférences */
    }
    .btn {
        /* Styles normaux des boutons */
        background-color: #56ab2f;
        border-color: #56ab2f;
        color: #ffffff; /* Couleur du texte */
        transition: background-color 0.3s; /* Transition fluide pour la couleur de fond */
    }
    .btn:hover {
        background-color: #72c22f; /* Nouvelle couleur de fond */
    }
</style>
{% endblock %}
