{% extends 'base_back.html.twig' %}

{% block title %}Modifier Objectif{% endblock %}

{% block body %}
<div class="col-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Modifier un objectif</h4>
            <p class="card-description">Veuillez mettre à jour les informations de l'objectif ci-dessous.</p>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.libelle, 'Libellé :') }}
                {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.listCritere, 'Critères :') }}
                {% for choice in form.listCritere %}
                <div class="form-check critere-item">
                    {{ form_widget(choice, { 'attr': {'class': 'form-check-input custom-checkbox'} }) }}
                    <label class="form-check-label">{{ choice.vars.label }}</label>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary mr-2">Mettre à jour</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<style>
  .custom-checkbox {
      width: 20px; /* Ajustez la largeur selon vos préférences */
      height: 20px; /* Ajustez la hauteur selon vos préférences */
  }
</style>
{% endblock %}
