{% extends 'base_back.html.twig' %}

{% block title %}Table des objectifs{% endblock %}

{% block body %}
<style>
     .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    /* CSS pour l'effet hover sur les lignes de tableau */
    .table-striped tbody tr:hover {
        background-color: #bbddab; /* Couleur de fond au survol */
        color: #fff; /* Couleur du texte au survol */
    }

    /* Styles pour les boutons */
    .btn {
        /* Styles normaux des boutons */
        background-color: #56ab2f;
        border-color: #56ab2f;
        color: #ffffff; /* Couleur du texte */
        transition: background-color 0.3s; /* Transition fluide pour la couleur de fond */
    }

    /* Styles pour les boutons lorsqu'ils sont survolés */
    .btn:hover {
        background-color: #72c22f; /* Nouvelle couleur de fond */
    }
    .btn.dropdown-toggle:focus {
    background-color: #ffffff; /* Couleur de fond du bouton lorsqu'il est ouvert */
    color: #000000; /* Couleur du texte du bouton lorsqu'il est ouvert */
}
.thead-green {
        background-color: #77bb58;
        color: white;
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>



<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Table des objectifs :</h4>
            <div class="col text-right mb-4">
                <a href="{{ path('add_object') }}" class="btn btn-primary btn-sm mr-2">
                    <i class="ti-plus"></i>
                    Ajouter objectif
                </a>
                <select id="critere" name="critere" onchange="filterObjectifs() ; resetButtonStyle();" class="btn btn-primary btn-sm dropdown-toggle ">
                    <option value="">Tous les critères</option>
                    {% for critere in criteres %}
                        <option value="{{ critere }}">{{ critere }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="table-responsive ">
                <table class="table table-striped ">
                    <thead class="thead-green">
                        <tr>
                            <th>Libelle</th>
                            <th>ListCritere</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for o in pagination %}
                            <tr>
                                <td>{{ o.libelle }}</td>
                                <td>{{ o.listCritere }}</td>
                                <td>
                                    <a href="{{ path('edit_objectif', {'id': o.id}) }}" class="btn btn-warning btn-sm">
                                        <i class="ti-pencil-alt"></i>
                                    </a>
                                    <button class="btn btn-danger btn-sm" onclick="confirmDelete('{{ o.id }}')">
                                        <i class="ti-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-center mt-4">
                    <div style="display: inline-block;">
                        {{ knp_pagination_render(pagination, 'pagination.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Inclusion de SweetAlert2 via CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<!-- Script pour la confirmation de suppression avec SweetAlert2 -->
<script>
    function confirmDelete(id) {
        Swal.fire({
            title: "Est-ce que vous êtes sûr?",
            text: "Vous allez supprimer cet objectif !!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Oui, Supprime-le!",
            cancelButtonText: "Annuler"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{{ path('delete_objectif', {'id': '__id__'}) }}".replace('__id__', id);
            }
        });
    }

    function filterObjectifs() {
        var selectedCritere = document.getElementById('critere').value;
        var rows = document.querySelectorAll('.table-striped tbody tr');
        
        rows.forEach(function(row) {
            var critereCell = row.querySelector('td:nth-child(2)').innerText;
            if (selectedCritere === '' || critereCell.includes(selectedCritere)) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        });
    }

    function resetButtonStyle() {
    var button = document.getElementById('critere');
    button.style.backgroundColor = '#56ab2f';
    button.style.backgroundColor = '#56ab2f';
    button.style.borderColor = '#56ab2f';
    button.style.color = '#ffffff';
    button.style.transition = 'background-color 0.3s';
}
</script>

{% endblock %}
